/*HTML
<div class="Bio">
<div class="BioHeader">Header</div>
<div class="BioMain">Main Area
  <div class="BioMainImg">Main Area Image</div>
</div>
<div class="BioFooter">Footer
 <div class="BioLink">Link</div>
 <div class="BioLink">Link</div>
 <div class="BioLink">Link</div>
 <div class="BioLink">Link</div>
</div>
</div>
*/

.Bio {
  display:grid;
  height:400px;
  gap:10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

.Bio img {
  display: block;
  margin:auto;
  width:80%;
}

.Bio br {
  display:none !important;
}

.Bio div {
  border:2px solid red;
}

.Bio .BioHeader {
}

.Bio .BioMain {
  display:grid;
  grid-template-columns:1fr 2fr;
  grid-template-rows:1fr;
}

.Bio .BioFooter {
}
