/*Starting Over. Zero refence to previous templates.... Idk what to do if this gets flagged... Like. Do I sound like a robot or something?*/
/*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/Try%20Again%20I%20Guess/Personal.css" />*/


/*Credit Area
  Misc Debugging:
Thanks to my brother helping me with random issues I came across
  Background:
https://www.pexels.com/photo/menara-gardens-in-morocco-17648182/
Mr.Zembo on Pexels
Uploaded on July 18th, 2023 at 8:47 AM
Free to use under the Pexels License
*/

:root {
  --background-main-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Try%20Again%20I%20Guess/pexels-mr-zembo-651918778-17648182.jpg?raw=true);
  --background-main-color:#62442c;

  --background-header-dark:#c3a281;
  --background-header-light:#dfc7a8;
  --background-panel-dark:#d6bba0;
  --background-panel-mid:#e0cdc1;
  --background-panel-light:#f3e5dc;
  --transparency:/*I'll learn soon*/;

  --border-color:#c9d1d4;
  --border-size:3px;
  --border-radius:10px;

  --font-color:#ede7e2;
  --font-color-highlight:#f2edb4;
}

/*Main Stuff*/
body {
  color:var(--font-color);
  background-color: var(--background-main-color);
  background-image: var(--background-main-image);
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}

a,
h1,
h2,
h3,
th,
.top,
.col-xs-10{
  color:var(--font-color) !important;
}

a:hover {
  color:var(--font-color-highlight) !important;
}

input,
select,
textarea {
  background:var(--background-header-light) !important;
  color:var(--font-color) !important;
  text-shadow:none !important;
  border:1px solid var(--border-color) !important;
  border-radius:0px !important;
}

input:hover,
select:hover,
textarea:hover {
  background:var(--background-header-dark) !important;
  color:var(--font-color-highlight) !important;
  border-color:var(--font-color-highlight) !important;
}

.container.main {
  background:transparent;
  box-shadow:none;
}

/*Inner Main Container*/
#pageContainer {
  background: transparent;
}

/*Topbar*/
.container.topbar {
  background: transparent;
  color: var(--font-color);
}

/*Navbar*/
.navbar.navbar-default {
  background: var(--background-header);
}

.navbar.navbar-default a:hover {
  background: var(--background-panel-dark) !important;
  color:var(--font-color-highlight) !important;
}

.navbar-brand.visible-lg.visible-md:hover {
  background: none !important;
}

/*Navbar Dropdown*/
#bs-example-navbar-collapse-1 {
  border:none;
  box-shadow:none;
}

/*Navbar Button*/
.navbar-toggle.collapsed,
.navbar-toggle {
  background:var(--background-header-light) !important;
  border:1px solid var(--border-color) !important;
  border-radius:0px !important;
}

.navbar-toggle.collapsed span,
.navbar-toggle span {
  background:var(--background-header-light) !important;
}

.navbar-toggle.collapsed:hover,
.navbar-toggle:hover{
  background:var(--background-header-dark) !important;
  color:var(--font-color-highlight) !important;
  border-color:var(--font-color-highlight) !important;
}

.navbar-toggle.collapsed:hover span,
.navbar-toggle:hover span {
  background:var(--font-color-highlight) !important;
}

/*Breadcrumb, Credit, Bookmark*/
.breadcrumb {
  background:transparent;
}

.breadcrumb-item.active {
  color:var(--font-color);
}

.breadcrumb::after {
  content:"CSS by Eli in Motion #319237";
  position:absolute;
  right:0;
  padding-right:15px;
}

.floatright input {
  display:none;
}

/*Alerts*/
.alert.alert-success {
  background:var(--background-header-light);
  color:var(--font-color);
  border:var(--border-size) solid var(--border-color);
  border-radius:var(--border-radius);
}

.alert.alert-danger {
  background:var(--background-header-dark);
  color:var(--font-color);
  border:var(--border-size) solid var(--border-color);
  border-radius:var(--border-radius)
}

/*Event Alerts*/
/*September*/
#pageContainer > center > table:nth-child(3) th {
  background:var(--background-panel-dark);
}

#pageContainer > center > table:nth-child(3) .left.b.center {
  background:var(--background-panel-mid);
}

#pageContainer > center > table:nth-child(3) {
  background:var(--background-panel-light);
}
