/*CSS by Eli in Motion #319237 please do not claim as your own or resell*/
/*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/Personal Use/Den CSS/Desert Oasis/Desert-Oasis.css" /> */

/*Credit Section
  Misc Debugging
Shout out to my brother for helping me fight through the confusion as I learn CSS
  
  Background Image
https://pixabay.com/videos/cave-flames-fantasy-rocks-pillars-171066/
davidfoxx on Pixabay
Published date July 12, 2023
Free for use under the Pixabay Content License
*/

:root {
  --bg-main-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Purple%20Shrine/Purple%20Shrine%20Background.webp?raw=true);
  --bg-main-color:91, 80, 69;

  --bg-header-dark:163, 129, 78;
  --bg-header-light:212, 176, 123;
  --bg-panel-back:180, 160, 141;
  --bg-panel-left:132, 113, 98;
  --bg-panel-right:214, 199, 182;
  --bg-chat-light:178, 182, 166;
  --bg-chat-dark:150, 158, 142;

  --font-color-main:244, 236, 228;
  --font-color-small:216, 196, 180;

  --border-size-big:3px;
  --border-size-small:2px;
  --border-color:235, 198, 120;
  --border-radius:10px;

  --accent-color-light:188, 213, 235;
  --accent-color-dark:136, 177, 219;
  --transparency-light:.90;
  --transparency-heavy:.80;

  --mod-bg-color:94, 107, 82;
  --mod-font-color:244, 236, 228;
  --ping-bg-color:;
  --ping-font-color:;
}

/*Pagewide*/
body {
  background-color:rgb(var(--bg-main-color));
  background-image:var(--bg-main-image);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style:normal;
}

.container.main {
  background:transparent;
  box-shadow:none;
}

#pageContainer {
  background:transparent;
}
