/* =========================================================
   INITIATE
   ========================================================= */

/* =========================================================
   QUICK CUSTOMIZATION
   ========================================================= */

:root {

    /* ===== MAIN BACKGROUND ===== */
    --bg-page-color:#01092d;
    --bg-page-image:url("https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Premade/Den%20CSS/Initiate/Jellyfish/karo-k-HoH869KdIm4-unsplash.jpg?raw=true");
    
    /* ===== BACKGROUND COLORS ===== */
    --bg-panel-light:#8aa6ff69;
    --bg-panel-mid:#5279f869;
    --bg-panel-dark:#0f2f9669;
    --bg-header-light:#96d4e069;
    --bg-header-mid:#76b5c169;
    --bg-header-dark:#528d9869;
    --bg-input-light:#b1c7f969;
    --bg-input-mid:#5979c269;
    --bg-input-dark:#1e459d69;

    /* ===== TEXT ===== c2cce7*/
    --text-light:#e2fffd;
    --text-mid:#aadad7;
    --text-dark: #7abbb7;
    --text-muted-light:#d2e0ff;
    --text-muted-mid:#b1c7f9;
    --text-muted-dark:#a5b7e0;

    /* ===== BORDERS ===== */ 
    --border-color-main:#e2fffd;
    --border-color-alt:#9ddfff;
    --border-size-big:4px;
    --border-size-small:2px;
    --radius-big:22px;
    --radius-small:11px;
    --radius-none:0px;

    /* ===== SPECIAL ===== */
    --bg-mod:#4230668a;
    --text-mod:#504179;
    --accent-color-light:#c1e4f7;
    --accent-color-mid:#90bdd6;
    --accent-color-dark:#507f9a;
}

/* =========================================================
   MAIN BACKGROUND
   ========================================================= */

body {
    background-color: var(--bg-page-color);
    background-image: var(--bg-page-image);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}

/* =========================================================
   TOP BAR
   ========================================================= */

/* Top Bar with Messages and Currency */
.topbar {
    background: none;
     color: var(--text-light);
}

.topbar a {
    color: var(--text-light) !important;
}

.topbar a:hover {
    color: var(--accent-color-mid) !important;
}

/* =========================================================
   MAIN CONTAINERS
   ========================================================= */

/* Main container behind everything else */
.container.main {
    background: none;
    border:none;
    box-shadow:none;
}

/* Smaller Container behind most main stuff */
#pageContainer {
    background-color:transparent;
}

/* =========================================================
   NAVBAR
   ========================================================= */

.navbar.navbar-default {
    background: none;
}

.navbar.navbar-default a {
    color: var(--text-light) !important;
}

/*Exclude Lioden Logo Link from Background Color*/
div:nth-child(1) > nav > div.navbar-header > a:hover {
    background:none !important;
}

.navbar.navbar-default a:hover {
    background: var(--bg-panel-light) !important;
    border-radius:var(--radius-small);
    color: var(--accent-color-light) !important;
}

/* Navbar Collapse Button when Small */
.navbar button {
    background-color: var(--bg-input-light) !important;
    border: 1px solid var(--border-color-main) !important;
    border-radius:var(--radius-none);
}

.navbar button:hover,
.navbar button:focus {
    background-color: var(--bg-input-mid) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-light) !important;
}

.navbar-header > button span {
    background-color:var(--text-light) !important;
}

/* Navbar Links when Small and Expanded */
.navbar-collapse.collapse.in {
    border: none;
    box-shadow: none;
}

/* =========================================================
   BREADCRUMB / DEN TITLE
   ========================================================= */

/* Breadcrumb with Home/Name */
.breadcrumb {
    background-color: transparent;
}

.breadcrumb a,
.breadcrumb-item.active {
    color: var(--text-light);
}

.breadcrumb a:hover {
    color: var(--accent-color-light);
}

/* ____'s Den */
#pageContainer h1 {
    color: var(--accent-color-light);
    text-align: center;
}

/* =========================================================
   ALERTS
   ========================================================= */

/* All Alerts Text and Links */
.alert,
.alert a {
    color: var(--text-light);
}

/* Red Alerts Background */
.alert-danger {
    background-color: var(--bg-panel-dark) !important;
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

/* General / Green Alerts Background */
.alert {
    border:var(--border-size-small) solid var(--border-color-main);
    background-color: var(--bg-panel-light);
    border-radius:var(--radius-small);
}

.alert a:hover {
    color: var(--accent-color-dark);
}

/* =========================================================
   COMMENT BOX
   ========================================================= */

/* Comment Box Existing Comments */
#commentBox {
    color: var(--text-light);
    border: var(--border-size-big) solid var(--border-color-main) !important;
    border-radius:var(--radius-big);
    background-color:var(--transparent);
}

.comment:nth-child(odd) {
    background-color: var(--bg-panel-light);
}

.comment:nth-child(even) {
    background-color: var(--bg-panel-mid) !important;
}

#commentBox a {
    color: var(--accent-color-light);
}

#commentBox a:hover {
    color: var(--accent-color-mid);
}

.text-muted {
    color: var(--text-muted-light) !important;
}

/* Comment Box Scrollbar */
#commentBox::-webkit-scrollbar {
    background-color: var(--bg-panel-mid);
}

#commentBox::-webkit-scrollbar-thumb {
    background-color: var(--bg-panel-light);
    border-radius:var(--radius-small);
}

/* Comment X Button */
#commentBox .bad {
    background: none;
    background-color: var(--bg-input-light);
    color: var(--text-light);
    text-shadow: none;
    border: 1px solid var(--border-color-main);
    border-radius:var(--radius-none);
}

#commentBox .bad:hover {
    background-color: var(--bg-input-mid) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-light) !important;
}

/* Make Comment Input Box */
#makeComment #comment {
    background-color: var(--bg-input-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
    color: var(--text-light);
}

#makeComment #comment::placeholder {
    color: var(--text-muted-light) !important;
}

/* Make Comment Post Button */
#postComment {
    background: var(--bg-input-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-none);
    color: var(--accent-color-light);
    text-shadow: none;
}

#postComment:hover {
    background-color: var(--bg-input-dark) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-light) !important;
}

/* =========================================================
   PRIDE ABOUT
   ========================================================= */

/* Pride About Area Text */
#about,
#about a,
#about .top a, 
#about .bottom a {
    color: var(--text-light);
    text-decoration:none
}

/* Pride About Main Area */
#about {
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

/* Pride About Inner Areas */
#about .top,
#about .bottom {
    background: var(--bg-header-light);
}

#about td .left {
    background: var(--bg-panel-mid);
}

#about td .right {
    background-color: var(--bg-panel-light);
}

#about a:hover {
    color: var(--accent-color-mid);
    border:none;
}

/* =========================================================
   PLAYER INFO
   ========================================================= */

/* Player Info Area Text and Links */
#player,
#player a {
    color: var(--text-light);
}

/* Player Info Area */
#player {
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
}

#player .top {
    background: var(--bg-header-light);
    color:var(--text-light);
}

#player td.left {
    background: var(--bg-panel-mid);
    color:var(--text-light);
}

#player td .right {
    background-color: var(--bg-panel-light);
    color:var(--text-light)
}

#player a:hover {
    color: var(--accent-color-mid) !important;
}

/* =========================================================
   DENS AND MOUNDS
   ========================================================= */

.cave-grid {
    background-color: var(--bg-header-light);
    color: var(--text-light);
    border:var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-big);
}

.mound-grid {
    background-color: var(--bg-header-mid);
    color: var(--text-light);
    border:var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-big);
}

/*~~~~~~~~~~~~~WIP~~~~~~~~~~~~~~~*/

/* =========================================================
   SPARRING
   ========================================================= */

#sparring {
    color:var(--text-light);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom:10px;
}

#sparring th {
    background-color: var(--bg-header-light);
    color:var(--text-light);
}

#sparring td {
    background: var(--bg-panel-light);
}

#sparring .right_odd span {
    color:var(--text-light) !important;
}


/* Sparring Input Areas */
#sparring select,
#sparring input {
    color: var(--accent-color-dark);
    text-shadow: none;
    background: none;
    background-color: var(--bg-input-light);
    box-shadow: none;
    border: 1px solid var(--accent-color-dark);
    border-radius:var(--radius-none);
}

#sparring input:hover,
#sparring select:hover {
    background-color: var(--bg-input-dark) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-light) !important;
}


/* =========================================================
   FAPA
   ========================================================= */

.row,
.row span {
    color: var(--text-light) !important;
}

.row .feature {
    background-color: var(--bg-panel-light);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.row .feature h3 {
    color: var(--text-light);
    text-shadow: none;
}

.row .feature input,
.row .feature select {
    color: var(--accent-color-dark);
    text-shadow:none !important;
    background: none;
    background-color: var(--bg-input-light);
    border: 1px solid var(--accent-color-dark);
    border-radius:var(--radius-none);
}

.row .feature input:hover, .row .feature select:hover {
    background-color: var(--bg-input-dark) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-light) !important;
}

/* =========================================================
   ALLIES
   ========================================================= */

#allies,
#allies a,
#allies .top{
    color: var(--text-light);
}

#allies a {
    text-decoration:none;
}

#allies {
    background-color: var(--transparent);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

#allies .top,
#allies .bottom {
    background-color: var(--bg-header-light);
}

#allies .left {
    display: none;
}

#allies a:hover {
    color: var(--accent-color-dark);
}

/* =========================================================
   CLANS
   ========================================================= */

#clans,
#clans a,
#clans .top {
    color: var(--text-light);
}

#clans {
    background-color:transparent;
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

#clans .top {
    background-color: var(--bg-header-light);
}

#clans .left {
    display: none;
}

#clans a:hover {
    color: var(--accent-color-dark);
}


/* =========================================================
   DYNASTIES
   ========================================================= */

.row.dynastycollection div .left {
    background-color: var(--bg-panel-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

.row.dynastycollection h3 {
    color: var(--text-light);
}

/* =========================================================
   LOGS
   ========================================================= */

.col.col-sm-4 .left {
    background-color: var(--bg-panel-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
    color: var(--text-light);
}


/* =========================================================
   EDIT DETAILS
   ========================================================= */

#editdetailspanel {
    border-radius:var(--radius-none);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
}

.table {
    margin:0px;
}

.table:nth-child(3) {
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
}

.table th {
    background-color: var(--bg-header-light);
}

.table th a {
    color: var(--text-light) !important;
    border:none !important;
}

.table th a:hover {
    color: var(--accent-color-dark) !important;
}


/* Expanded Details Panel */
#editdetailspanel .left {
    background: var(--bg-panel-light);
    color:var(--text-light);
}

#editdetailspanel .right {
    background-color: var(--bg-panel-mid);
}

#editdetailspanel .right textarea,
#editdetailspanel .right input,
#editdetailspanel .right select {
    background-color: var(--bg-input-light);
    border: 1px solid var(--border-color-main);
    border-radius:var(--radius-none);
    color: var(--text-light);
}

#editdetailspanel .right a {
    color: var(--text-light);
}

#editdetailspanel .right a:hover {
    color: var(--accent-color-dark);
}

#editdetailspanel .bottom {
    background-color: var(--bg-header-light);
}

#editdetailspanel .bottom input {
    background: var(--bg-input-light);
    border: 1px solid var(--border-color-main);
    border-radius:var(--radius-none);
    text-shadow: none;
    color: var(--accent-color-light);
}

#editdetailspanel .bottom input:hover {
    background-color: var(--bg-input-mid) !important;
    border-color: var(--accent-color-dark) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-dark) !important;
}

/* =========================================================
   ACCOUNT SETTINGS
   ========================================================= */

form .left:has(a[href*='/account-settings.php']) {
    background-color: var(--bg-header-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

form .left a {
    color: var(--text-light);
}

form .left a:hover {
    color: var(--accent-color-dark);
}


/* =========================================================
   SIDEBAR / PANELS
   ========================================================= */

#pageSidebar,
#pageSidebar a,
#pageSidebar h3 {
    color: var(--text-light);
}

#pageSidebar a:hover {
    color: var(--accent-color-dark);
}

/* Sidebar Inner Panels */

#pageSidebar .panel.panel-default {
    background-color:transparent !important;
}

.panel-body.small {
    background-color:var(--bg-panel-light) !important;
}

.col-md-3 .panel {
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
    overflow:hidden !important;
    background-color:transparent;
}

.col-md-12.col-xs-5 .panel p {
    display:none;
}

.clear.visible-xs.visible-sm {
    border:none !important;
}

/* =========================================================
   CHATBOX
   ========================================================= */

/* Chat Toggle Button */
#btnToggleSidebarChat {
    background: none;
    background-color: var(--bg-input-light);
    border: 1px solid var(--border-color-main);
    border-radius:var(--radius-none);
    color: var(--accent-color-light);
    text-shadow: none;
}

#chatMessageContainer {
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
}

#btnToggleSidebarChat:hover {
    background-color: var(--bg-input-dark);
    border-color: var(--accent-color-dark) !important;
    border-radius:var(--radius-none);
    color: var(--accent-color-dark);
}

/* Chat Text */
#fra_chatContainer,
#fra_chatContainer a,
#fra_chatContainer span {
    color:var(--text-light);
    overflow:hidden;
}

#fra_chatContainer a:hover {
    color: var(--accent-color-dark);
}

#label_currentChannel {
    border-radius:var(--radius-none) !important;
}

/* Chat Inputs / Buttons */
#fra_chatContainer #txtChatInput,
#fra_chatContainer #btnChatSend,
#fra_chatContainer #label_currentChannel{
    background: none;
    background-color: var(--bg-input-light);
    border: 1px solid var(--border-color-main);
    color: var(--accent-color-dark);
    text-shadow: none;
}

#fra_chatContainer #label_currentChannel {
    margin-top:4px;
}

#btnLoadNewMessages {
    margin-top:9px;
}

#label_currentChannel:hover {
    background-color: var(--bg-input-dark) !important;
    border: 1px solid var(--accent-color-light) !important;
    color: var(--accent-color-light) !important;
}

/*Chat Room Select Dropdown*/
#fraChatChannelMenu {
    background:var(--bg-input-light) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none);
    color: var(--accent-color-light);
}

#fra_chatContainer input:hover, {
    background-color: var(--bg-input-dark);
    border-color: var(--accent-color-dark) !important;
    border-radius:var(--radius-none);
    color: var(--accent-color-dark);
}

#txtChatContainer {
    margin-right:1px
}

#txtChatInput {
    border: 1px solid var(--border-color-main) !important;
    border-radius:var(--radius-none) !important;
}

#btnChatSend {
    border-radius:var(--radius-none) !important;
    color:var(--accent-color-light) !important;
}

#btnChatSend:hover {
    background-color: var(--bg-input-dark) !important;
    border-color: var(--accent-color-light) !important;
    border-radius:var(--radius-none) !important;
    color: var(--accent-color-light) !important;
}

/* Alternating Chat Messages */
.s-chat-message:nth-child(even),
#chatMessagePinned {
    background-color: var(--bg-panel-light) !important;
}

.s-chat-message:nth-child(odd) {
    background-color: var(--bg-panel-mid);
}

/* Mod Message */
.s-chat-message.s-chat-message__mod {
    background: var(--mod-bg) !important;
    color: var(--text-mod);
    border: none;
    padding-left: 5px;
}

.s-chat-message.s-chat-message__mod span {
    padding-left: 5px !important;
}

/* Chat Scrollbar */
.nolayout {
    overflow:hidden;
}
#chatMessageList::-webkit-scrollbar {
    background-color: var(--bg-panel-mid);
}

#chatMessageList::-webkit-scrollbar-thumb {
    background-color: var(--bg-panel-light);
    border-radius:var(--radius-main);
}

.channelSwitcher {
    color:var(--accent-color-light) !important;
}

.channelSwitcher:hover, .channelSwitcher.active {
    background-color: var(--bg-input-dark) !important;
    border: 1px solid var(--accent-color-dark) !important;
    color: var(--accent-color-dark) !important;
}

/* =========================================================
   BUGBOX BUTTON
   ========================================================= */

.btn.btn-default.button {
    background: none;
    background-color: var(--bg-input-light);
    border: 1px solid var(--border-color-main);
    border-radius:var(--radius-none);
    text-shadow: none;
    color:var(--accent-color-dark) !important;
}

.btn.btn-default.button:hover,
.btn.btn-default.button:focus {
    background-color: var(--bg-input-dark);
    border-color: var(--accent-color-light);
    border-radius:var(--radius-none);
    color: var(--accent-color-light) !important;
}

/* =========================================================
   LIODEN LICENSES AND LINKS
   ========================================================= */
.col-xs-10, .col-xs-10 a {
    color:var(--text-light) !important;
    text-shadow:none;
}

/* =========================================================
   END INITIATE
   ========================================================= */
