/*CSS by Eli in Motion #319237 please do not claim as your own or resell*/
/*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/" /> */

/*Credit Section
  Misc Debugging
Shout out to my brother for helping me fight through the confusion as I learn CSS
  Background Image
https://www.pexels.com/photo/menara-gardens-in-morocco-17648182/
Mr.Zembo on Pexels
Uploaded on July 18th, 2023 at 8:47 AM
Free to use under Pexels Licensing
*/

:root {
  --bg-main-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-mr-zembo-651918778-17648182.jpg?raw=true);
  --bg-main-color:#6f503b;

  --bg-header-big:;
  --bg-header-small:;
  --bg-panel-back:;
  --bg-panel-left:;
  --bg-panel-right:;
  --bg-chat-light:;
  --bg-chat-dark:;

  --font-color-main:;
  --font-color-small:;

  --border-size:;
  --border-color:;
  --border-radius:;

  --accent-color-light:;
  --accent-color-dark:;
}

/*Pagewide*/
body {
  background-color:var(--bg-main-color);
  background-image:var(--bg-main-image);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

a,
h1,
h2,
h3 {
  color:var(--font-color-main) !important;
}

a:hover {
  color:var(--accent-color-light) !important;
}

input,
select,
textarea {
  background:var(--bg-header-small) !important;
  color:var(--font-color-main) !important;
  border: 1px solid var(--border-color) !important;
  border-radius:0px !important;
}

input:hover,
select:hover,
textarea:hover {
  background:var(--bg-header-big) !important;
  color:var(--accent-color-light) !important;
  border-color:var(--accent-color-light) !important;
}

/*Topbar with messages & links*/
.container.topbar {
  background:transparent;
}

/*Navbar*/
.navbar.navbar-default {
  background:transparent;
}

.navbar.navbar-default a:hover {
  background:var(--accent-color-dark);
}
