@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Tapestry&display=swap');

/*CSS by Eli in Motion #319237 please do not claim as your own or resell*/
/*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/Personal Use/Den CSS/Desert Oasis/Desert-Oasis.css" /> */

/*Credit Section
  Misc Debugging
Shout out to my brother for helping me fight through the confusion as I learn CSS
  
  Background Image
https://www.pexels.com/photo/menara-gardens-in-morocco-17648182/
Mr.Zembo on Pexels
Uploaded on July 18th, 2023 at 8:47 AM
Free to use under Pexels Licensing

  Background Image for Unsorted, Pregnant, and Overview
https://www.pexels.com/photo/tomb-of-sayed-rakneddin-in-yazd-23938370/
SYDE Yvi on Pexels
Uploaded on May 11th, 2024 at 10:11 AM
Free to use under Pexels Licensing

  Background Image for All other Caves
https://www.pexels.com/photo/decorative-wooden-door-with-ornate-patterns-31455198/
Darya Grey_Owl on Pexels
Uploaded on April 2nd, 2025 at 1:46 PM
Free to use under Pexels Licensing

  Background Image for Beetle Mounds
https://www.pexels.com/photo/golden-sand-dunes-at-sunset-in-a-desert-landscape-35970236/
Stephen Leonardi on Pexels
Uploaded on February 1st, 2026 at 9:38 PM
Free to use under Pexels Licensing

  Background for Dynasties
https://www.pexels.com/photo/natural-arch-under-stars-on-night-sky-in-joshua-tree-national-park-in-usa-21608490/
Mikey White on Pexels
Uploaded on April 13th, 2024 at 5:54 PM
Free to use under Pexels Licensing
*/

:root {
  --bg-main-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-mr-zembo-651918778-17648182.jpg?raw=true);
  --bg-main-color:91, 80, 69;

  --bg-header-dark:163, 129, 78;
  --bg-header-light:212, 176, 123;
  --bg-panel-back:180, 160, 141;
  --bg-panel-left:132, 113, 98;
  --bg-panel-right:214, 199, 182;
  --bg-chat-light:178, 182, 166;
  --bg-chat-dark:150, 158, 142;

  --font-color-main:244, 236, 228;
  --font-color-small:216, 196, 180;

  --border-size-big:3px;
  --border-size-small:2px;
  --border-color:235, 198, 120;
  --border-radius:10px;

  --accent-color-light:188, 213, 235;
  --accent-color-dark:136, 177, 219;
  --transparency-light:.90;
  --transparency-heavy:.80;

  --mod-bg-color:94, 107, 82;
  --mod-font-color:244, 236, 228;
  --ping-bg-color:;
  --ping-font-color:;
}

/*Pagewide*/
body {
  background-color:rgb(var(--bg-main-color));
  background-image:var(--bg-main-image);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style:normal;
}

.container.main {
  background:transparent;
  box-shadow:none;
}

#pageContainer {
  background:transparent;
}

body,
a,
h1,
h2,
h3,
.top,
.breadcrumb-item.active,
.breadcrumb-item.active::before,
.col-xs-10 {
  color:rgb(var(--font-color-main)) !important;
  text-decoration:none !important;
  border:none !important;
}

h1,
h2,
h3,
.center.h3,
.container.topbar,
.navbar {
  font-family: "Tapestry", serif;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  color:rgb(var(--accent-color-light)) !important;
}

input,
select,
textarea,
.btn.btn-default.button,
.channelMenu,
#context-chatMenu,
#fraChatChannelMenu,
#label_currentChannel,
.navbar-toggle.collapsed,
.navbar-toggle { 
  background:rgba(var(--bg-header-light), var(--transparency-light)) !important;
  color:rgb(var(--font-color-main)) !important;
  border: 1px solid rgb(var(--border-color)) !important;
  border-radius:0px !important;
  text-shadow:none !important;
}

input:hover,
select:hover,
textarea:hover,
.btn.btn-default.button:hover,
#context-chatMenu button:hover,
.channelSwitcher.active,
.channelSwitcher:hover,
#label_currentChannel:hover,
.navbar-toggle.collapsed:hover,
.navbar-toggle:hover {
  background:rgba(var(--bg-header-dark), var(--transparency-light)) !important;
  color:rgb(var(--accent-color-light)) !important;
  border-color:rgb(var(--accent-color-light)) !important;
}

/*Topbar with messages & links*/
.container.topbar {
  background:transparent;
}

.container.topbar a {
  font-size:larger;
}

/*Navbar*/
.navbar.navbar-default {
  background:transparent;
}

.navbar.navbar-default a:hover {
  color:rgb(var(--accent-color-light)) !important;
  background:rgba(var(--accent-color-dark), var(--transparency-heavy)) !important;
}

.navbar-brand.visible-lg.visible-md:hover {
  background:transparent !important;
}

#bs-example-navbar-collapse-1 {
  border:none;
  box-shadow:none;
}

.navbar-toggle.collapsed span {
  background:rgb(var(--border-color)) !important;
}

.navbar-toggle.collapsed:hover span {
  background:rgb(var(--accent-color-light)) !important;
}

/*Breadcrumb, Bookmark, and Credit*/
.breadcrumb {
  background:transparent;
}

.floatright input {
  display:none;
}

.breadcrumb::after {
  content:"CSS by Eli in Motion #319237";
  float:right;
  color:rgb(var(--font-color-main));
}

/*Alerts*/
.alert.alert-success {
  background:rgba(var(--bg-panel-right), var(--transparency-heavy));
  color:rgb(var(--font-color-main));
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
}

.alert.alert-danger {
  background:rgba(var(--bg-panel-left), var(--transparency-heavy));
  color:rgb(var(--font-color-main));
  border: var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
}

/*____'s Den*/
#pageContainer h1 {
  text-align:center;
  font-size:0px;
}

#pageContainer h1::before {
  content:"Welcome Wandering Soul";
  font-size:50px;
}

/*Comment Box*/
#commentBox {
  border: 1px solid rgb(var(--border-color)) !important;
}

#commentBox::-webkit-scrollbar {
  width:10px;
}

#commentBox::-webkit-scrollbar-track {
  background:rgba(var(--bg-chat-dark), var(--transparency-light));
  border-top-right-radius:var(--border-radius);
  border-bottom-right-radius:var(--border-radius);
}

#commentBox::-webkit-scrollbar-thumb {
  background:rgba(var(--bg-chat-light), var(--transparency-light));
  border-top-right-radius:var(--border-radius);
  border-bottom-right-radius:var(--border-radius);
}

.comment {
  background:rgba(var(--bg-chat-light), var(--transparency-light));
}

.comment:nth-child(even) {
  background:rgba(var(--bg-chat-dark), var(--transparency-light)) !important;
}

.comment:nth-child(odd) {
  background:rgba(var(--bg-chat-light), var(--transparency-light));
}

#comment::placeholder,
.text-muted {
  color:rgb(var(--font-color-small));
}

/*Pride About*/
#about {
  border:var(--border-size-big) solid rgb(var(--border-color)) !important;
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate
}

#about .top,
#about .bottom {
  background:rgba(var(--bg-header-light), var(--transparency-heavy));
}

#about tr.right {
  background:rgba(var(--bg-panel-back), var(--transparency-heavy));
}

#about .left {
  background:rgba(var(--bg-panel-left), var(--transparency-heavy));
}

#about td .right {
  background:rgba(var(--bg-panel-right), var(--transparency-heavy));
}

/*Player About*/
#player {
  border:var(--border-size-big) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#player .top {
  background:rgba(var(--bg-header-light), var(--transparency-heavy));
}

#player tr.right {
  background:rgba(var(--bg-panel-back), var(--transparency-heavy));
}

#player .left {
  background:rgba(var(--bg-panel-left), var(--transparency-heavy));
}

#player td .right {
  background:rgba(var(--bg-panel-right), var(--transparency-heavy));
}

#player .right hr {
  display:none !important;
}

.center.xlarge {
  margin-top:10px;
}

/*Caves and Mounds*/
.cave-grid {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy));
  border:var(--border-size-small) solid rgb(var(--border-color));
}

.mound-grid {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy));
  border:var(--border-size-small) solid rgb(var(--border-color));
}

.mound-grid img {
  width:100%;
  height:80px;
}

/*Sparring*/
#sparring {
  border:var(--border-size-big) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#sparring th {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy));
}

#sparring tr {
  background:rgba(var(--bg-panel-left), var(--transparency-heavy));
}

#sparring .right_odd {
  background:rgba(var(--bg-panel-back), var(--transparency-heavy));
}

/*Reclaim Lions*/
#reclaim {
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#reclaim th,
#reclaim .bottom {
  background:rgba(var(--bg-header-light), var(--transparency-heavy));
}

#reclaim .left.b.center {
  background:rgba(var(--bg-panel-left), var(--transparency-heavy));
}

#reclaim .right.center {
  background:rgba(var(--bg-panel-back), var(--transparency-heavy));
}

/*FAPA*/
.col-sm-6.col-xs-12 div {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy));
  border:var(--border-size-small) solid rgb(var(--border-color));
}

#allies {
  border:none;
  overflow:hidden !important;
  border-collapse:separate !important;
}

#allies .right,
#allies .bottom {
  background:transparent;
}

#allies .top {
  background:rgba(var(--bg-header-light), var(--transparency-heavy));
  border:var(--border-size-big) solid rgb(var(--border-color)) !important;
  border-radius:var(--border-radius);
}

#allies .left {
  display:none;
}

/*Clans*/
#clans {
  overflow: hidden;
  border-collapse: separate;
  border:none;
}

#clans .top {
  background:rgba(var(--bg-header-light), var(--transparency-heavy));
  border:var(--border-size-big) solid rgb(var(--border-color)) !important;
  border-radius:var(--border-radius);
}

#clans .left {
  display:none;
}

/*Dynasty Stuff*/
.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist div {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy)) !important;
  border: var(--border-size-small) solid rgb(var(--border-color));
  width:fit-content;
}

/*Logs*/
.col.col-sm-4 div {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy)) !important;
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
}

/*Edit Details*/
#pageContainer > center > form:nth-child(41) > table {
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius) !important;
  overflow: hidden;
  border-collapse: separate;
}

#pageContainer > center > form:nth-child(41) > table > tbody > tr > th,
#editdetailspanel > table > tbody > tr:nth-child(8) > td {
  background:rgba(var(--bg-header-light), var(--transparency-heavy)) !important;
}

#editdetailspanel .table {
  border-left:var(--border-size-big) solid rgb(var(--border-color));
  border-right:var(--border-size-big) solid rgb(var(--border-color));
  border-bottom:var(--border-size-big) solid rgb(var(--border-color));
  border-top: none;
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#editdetailspanel .table .left.b {
  background:rgba(var(--bg-panel-back), var(--transparency-heavy));
}

#editdetailspanel .table .right {
  background:rgba(var(--bg-panel-right), var(--transparency-heavy));
}

/*Account Setting*/
#pageContainer div.left {
  background:rgba(var(--bg-header-light), var(--transparency-heavy));
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
}

/*Side Panel*/
.panel-body.small,
.panel-body.small.clear {
  background:rgba(var(--bg-header-dark), var(--transparency-heavy));
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
  box-shadow:none !important
}

.panel {
  background:transparent;
  box-shadow:none !important;
  border:none !important;
}

.clear.visible-xs.visible-sm {
  border:none !important;
}

/*ChatBox*/
#chatMessageContainer {
  border:1px solid rgb(var(--border-color)) !important;
  border-radius:var(--border-radius) !important;
}

#chatMessagePinned {
  background:rgba(var(--bg-header-light), var(--transparency-light)) !important;
  color:rgb(var(--font-color-main)) !important;
}

#chatMessageList::-webkit-scrollbar {
  width:10px !important;
}

#chatMessageList::-webkit-scrollbar-track {
  background:rgba(var(--bg-header-light), var(--transparency-light));
}

#chatMessageList::-webkit-scrollbar-thumb {
  background:rgba(var(--bg-header-dark), var(--transparency-light));
}

.s-chat-message_timestamp {
  color:rgb(var(--font-color-small));
}

.s-chat-message:nth-child(even) {
  background:rgba(var(--bg-chat-dark), var(--transparency-light));
}

.s-chat-message:nth-child(odd) {
  background:rgba(var(--bg-chat-light), var(--transparency-light));
}

.chatMenu-option {
  background:none !important;
}

.s-chat-message.hasContext {
  background:rgba(var(--accent-color-light), var(--transparency-light)) !important;
  border-left-color:rgba(var(--accent-color-dark), var(--transparency-light)) !important;
}

#chatMessageList .s-chat-message.s-chat-message__mod {
  background:rgba(var(--mod-bg-color), var(--transparency-light)) !important;
  color:var(--mod-font-color) !important;
  border-color:var(--border-color) !important;
  border-width:1px;
}

#chatMessageList .s-chat-message.s-chat-message_mention{
  background:rgba(var(--mod-bg-color), var(--transparency-light)) !important;
  color:var(--mod-font-color);
  border-color:var(--border-color);
  border-width:1px;
  border-left:none;
}

.channelSwitcher {
  background:none !important;
}

.channelSwitcher {
  color:rgb(var(--font-color-main)) !important;
}

/*EVENT*/
/*September*/
#pageContainer > center > table:nth-child(2) {
  border:var(--border-size-small) solid rgb(var(--border-color));
  border-radius:var(--border-radius);
  overflow:hidden;
  border-collapse: separate;
}

#pageContainer > center > table:nth-child(2) th {
  color:rgb(var(--font-color-main));
  background:rgba(var(--bg-header-dark), var(--transparency-heavy));
}

#pageContainer > center > table:nth-child(2) .left.b.center {
  background:rgba(var(--bg-panel-left), var(--transparency-heavy));
}

#pageContainer > center > table:nth-child(2) .right.center {
  background:rgba(var(--bg-panel-back), var(--transparency-heavy));
}

/*Image Replacements*/
.col-md-4.col-xs-6.center div img {
  visibility:hidden;
}

#fraOrganizationBlock > div:nth-child(n-3) > a > div {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-syde-23938370.jpg?raw=true);
  background-size:cover;
  background-position:center;
}

#fraCaveList > div div {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-darya-grey_owl-132130036-31455198.jpg?raw=true);
  background-size:cover;
  background-position:center top;
}

#fraMoundList{
  display: flex;
  justify-content: center;
}

.mound-grid {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-stephen-leonardi-587681991-35970236.jpg?raw=true);
  background-size:cover;
  background-position:center top;
  height:80%
}

.mound-grid img {
  visibility:hidden
}
.navbar-brand.visible-lg.visible-md img {
  content:url("https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/Lioden-logo-full-3.PNG?raw=true");
}

.row.dynastycollection > div:nth-child(n-2) > a > div > img {
  visibility:hidden;
}

.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist:nth-child(-n+2) .left {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-mikey-white-922915629-21608490.jpg?raw=true) !important;
  background-size:cover !important;
  background-position:center !important;
}

@media (max-width: 991px) {
  #fraOrganizationBlock > .col-xs-6 {
    width: 33%;
  }
  #fraOrganizationBlock > div:nth-child(n-3) > a > div {
    height: 100px;
    padding-top: 25px;
  }

  #fraCaveList {
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #fraCaveList .cave-grid {
    width:26.7vw;
    min-width:158.1px;
    max-width:207.6px;
  }
}
