/*CSS by Eli in Motion #319237 please do not claim as your own or resell*/
/*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/Personal Use/Den CSS/Desert Oasis/Desert-Oasis.css" /> */

/*Credit Section
  Misc Debugging
Shout out to my brother for helping me fight through the confusion as I learn CSS
  Background Image
https://www.pexels.com/photo/menara-gardens-in-morocco-17648182/
Mr.Zembo on Pexels
Uploaded on July 18th, 2023 at 8:47 AM
Free to use under Pexels Licensing
*/

:root {
  --bg-main-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Den%20CSS/Desert%20Oasis/pexels-mr-zembo-651918778-17648182.jpg?raw=true);
  --bg-main-color:#6f503b;

  --bg-header-dark:#a79186;
  --bg-header-light:#bf9e7d;
  --bg-panel-back:#b0b7b0;
  --bg-panel-left:#707e70;
  --bg-panel-right:#d0e0d0;
  --bg-chat-light:#f3e8df;
  --bg-chat-dark:#d5bba6;

  --font-color-main:#f3e5dc;
  --font-color-small:#c8bdb6;

  --border-size-big:3px;
  --border-size-small:1px;
  --border-color:#e6bf7e;
  --border-radius:10px;

  --accent-color-light:#c2d3ed;
  --accent-color-dark:#9ec3ef;
}

/*Pagewide*/
body {
  background-color:var(--bg-main-color);
  background-image:var(--bg-main-image);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

.container.main {
  background:transparent;
  box-shadow:none;
}

#pageContainer {
  background:transparent;
}

body,
a,
h1,
h2,
h3,
.top,
.breadcrumb-item.active,
.breadcrumb-item.active::before,
.col-xs-10 {
  color:var(--font-color-main) !important;
  text-decoration:none !important;
  border:none !important;
}

a:hover {
  color:var(--accent-color-light) !important;
}

input,
select,
textarea,
.btn.btn-default.button,
.channelMenu,
#context-chatMenu,
#fraChatChannelMenu,
#label_currentChannel {
  background:var(--bg-header-light) !important;
  color:var(--font-color-main) !important;
  border: 1px solid var(--border-color) !important;
  border-radius:0px !important;
  text-shadow:none !important;
}

input:hover,
select:hover,
textarea:hover,
.btn.btn-default.button:hover,
#context-chatMenu button:hover,
.channelSwitcher.active,
.channelSwitcher:hover,
#label_currentChannel:hover {
  background:var(--bg-header-dark) !important;
  color:var(--accent-color-light) !important;
  border-color:var(--accent-color-light) !important;
}

/*Topbar with messages & links*/
.container.topbar {
  background:transparent;
}

/*Navbar*/
.navbar.navbar-default {
  background:transparent;
}

.navbar.navbar-default a:hover {
  background:var(--accent-color-dark);
}

#bs-example-navbar-collapse-1 {
  border:none;
  box-shadow:none;
}

/*Breadcrumb, Bookmark, and Credit*/
.breadcrumb {
  background:transparent;
}

.floatright input {
  display:none;
}

.breadcrumb::after {
  content:"CSS by Eli in Motion #319237";
  float:right;
  color:var(--font-color-main);
}

/*Alerts*/
.alert.alert-success {
  background:var(--bg-panel-right);
  color:var(--font-color-main);
  border: var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius);
}

.alert.alert-danger {
  background:var(--bg-panel-left);
  color:var(--font-color-main);
  border: var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius);
}

/*____'s Den*/
#pageContainer h1 {
  text-align:center;
}

/*Comment Box*/
#commentBox {
  border: 1px solid var(--border-color) !important;
}

#commentBox::-webkit-scrollbar {
  width:10px;
}

#commentBox::-webkit-scrollbar-track {
  background:var(--bg-chat-dark);
  border-top-right-radius:var(--border-radius);
  border-bottom-right-radius:var(--border-radius);
}

#commentBox::-webkit-scrollbar-thumb {
  background:var(--bg-chat-light);
  border-top-right-radius:var(--border-radius);
  border-bottom-right-radius:var(--border-radius);
}

.comment {
  background:var(--bg-chat-light)
}

.comment:nth-child(even) {
  background:var(--bg-chat-dark) !important;
}

.comment:nth-child(odd) {
  background:var(--bg-chat-light);
}

#comment::placeholder,
.text-muted {
  color:var(--font-color-small);
}

/*Pride About*/
#about {
  border:var(--border-size-big) solid var(--border-color) !important;
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate
}

#about .top,
#about .bottom {
  background:var(--bg-header-light)
}

#about tr.right {
  background:var(--bg-panel-back);
}

#about .left {
  background:var(--bg-panel-left);
}

#about td .right {
  background:var(--bg-panel-right);
}

/*Player About*/
#player {
  border:var(--border-size-big) solid var(--border-color);
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#player .top {
  background:var(--bg-header-light);
}

#player tr.right {
  background:var(--bg-panel-back);
}

#player .left {
  background:var(--bg-panel-left);
}

#player td .right {
  background:var(--bg-panel-right);
}

#player .right hr {
  display:none !important;
}

.center.xlarge {
  margin-top:10px;
}

/*Caves and Mounds*/
.cave-grid {
  background:var(--bg-header-dark);
}

.mound-grid {
  background:var(--bg-header-dark);
}

.mound-grid img {
  width:100%;
  height:100px;
}

/*Sparring*/
#sparring {
  border:var(--border-size-big) solid var(--border-color);
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#sparring th {
  background:var(--bg-header-dark);
}

#sparring tr {
  background:var(--bg-panel-left);
}

#sparring .right_odd {
  background:var(--bg-panel-back);
}

/*Reclaim Lions*/
#reclaim {
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#reclaim th {
  background:var(--bg-header-light);
}

#reclaim .left.b.center {
  background:var(--bg-panel-left);
}

#reclaim .right.center {
  background:var(--bg-panel-back);
}

/*FAPA*/
.col-sm-6.col-xs-12 div {
  background:var(--bg-panel-back);
  border:var(--border-size-small) solid var(--border-color);
}

#allies {
  border:var(--border-size-big) solid var(--border-color);
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#allies .right,
#allies .bottom {
  background:transparent;
}

#allies .top {
  background:var(--bg-header-light);
}

#allies .left {
  display:none;
}

/*Clans*/
#clans {
  border:var(--border-size-big) solid var(--border-color);
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#clans .top {
  background:var(--bg-header-light)
}

#clans .left {
  display:none;
}

/*Dynasty Stuff*/
.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist div {
  background:var(--bg-header-dark);
  border: var(--border-size-small) solid var(--border-color);
  width:fit-content;
}

/*Logs*/
.col.col-sm-4 div {
  background:var(--bg-header-dark);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius);
}

/*Edit Details*/
#pageContainer > center > form:nth-child(41) > table {
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius) !important;
  overflow: hidden;
  border-collapse: separate;
}

#pageContainer .table th,
#pageContainer .table .bottom {
  background:var(--bg-header-light) !important;
}

#editdetailspanel .table {
  border-left:var(--border-size-big) solid var(--border-color);
  border-right:var(--border-size-big) solid var(--border-color);
  border-bottom:var(--border-size-big) solid var(--border-color);
  border-top: none;
  border-radius:var(--border-radius);
  overflow: hidden;
  border-collapse: separate;
}

#editdetailspanel .table .left.b {
  background:var(--bg-panel-back);
}

#editdetailspanel .table .right {
  background:var(--bg-panel-right);
}

/*Account Setting*/
#pageContainer div.left {
  background:var(--bg-header-light);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius);
}

/*Side Panel*/
.panel-body.small,
.panel-body.small.clear {
  background:var(--bg-header-dark);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius);
  box-shadow:none !important
}

.panel {
  background:transparent;
  box-shadow:none !important;
  border:none !important;
}

.clear.visible-xs.visible-sm {
  border:none !important;
}

/*ChatBox*/
#chatMessageContainer {
  border:1px solid var(--border-color) !important;
  border-radius:var(--border-radius) !important;
}

#chatMessagePinned {
  background:var(--bg-header-light) !important;
  color:var(--font-color-main) !important;
}

#chatMessageList::-webkit-scrollbar {
  width:15px !important;
}

#chatMessageList::-webkit-scrollbar-track {
  background:var(--bg-header-light);
}

#chatMessageList::-webkit-scrollbar-thumb {
  background:var(--bg-header-dark)
}

.s-chat-message_timestamp {
  color:var(--font-color-small);
}

.s-chat-message:nth-child(even) {
  background:var(--bg-chat-dark);
}

.s-chat-message:nth-child(odd) {
  background:var(--bg-chat-light);
}

.chatMenu-option {
  background:none !important;
}

.s-chat-message.hasContext {
  background:var(--accent-color-light) !important;
  border-left-color:var(--accent-color-dark) !important;
}

.channelSwitcher {
  background:none !important;
}

.channelSwitcher {
  color:var(--font-color-main) !important;
}
