/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  CSS by Eli in Motion ##319237 Please do not remove credit or claim as your own
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~
  Initiate
  ~~~~~~~~~~~~~~~~~*/
:root {

/*~~~~~~~~~Main Bakcground~~~~~~~~~*/
    --bg-page-color:#030303;
    --bg-page-image:url("https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Premade/Den%20CSS/Initiate/Neon%20Weird/pexels-dan-parlante-3850444-5719236.jpg?raw=true");
    
/*~~~~~~~~~Background Colors~~~~~~~~~*/
    --bg-panel-light:#000642c9;
    --bg-panel-mid:#03052ec9;
    --bg-panel-dark:#000000c9;
    --bg-header-light:#0e5777c9;
    --bg-header-mid:#3380a1c9;
    --bg-header-dark:#1e5f7ac9;
    --bg-input-light:#00586ec9;
    --bg-input-mid:#5c96a6c9;
    --bg-input-dark:#3f7483c9;

/*~~~~~~~~~Text Colors~~~~~~~~~*/
    --text-light:#f5f3f4;
    --text-mid:#503059;
    --text-dark: #000642;
    --text-small-light:#b2d9df;
    --text-small-mid:#82b5bd;
    --text-small-dark:#578d96;

/*~~~~~~~~~Borders~~~~~~~~~*/ 
    --border-color-main:#55b9c9;
    --border-color-alt:#f2f2f5;
    --border-size-big:3px;
    --border-size-small:1px;
    --radius-big:26px;
    --radius-small:13px;

/*~~~~~~~~~Chat~~~~~~~~~*/
    --bg-mod:#55b9c9c9;
    --text-mod:#000642;
    --bg-ping: #45101a7a;
    --text-ping: #fff7fc;
  
/*~~~~~~~~~Misc~~~~~~~~~*/
    --accent-color-light:#c9e4fb;
    --accent-color-mid:#91ccff;
    --accent-color-dark:#64d7ea;
}

/*~~~~~~~~~~~~~~~~~
    Main Body
  ~~~~~~~~~~~~~~~~~*/

body {
    background-color: var(--bg-page-color);
    background-image: var(--bg-page-image);
    background-attachment: fixed;
    background-position:right bottom;
    background-repeat: no-repeat;
    background-size: 700px 500px
}

/*~~~~~~~~~~~~~~~~~
    Background Credit
Dan Parlante on Pexels
Apr 8, 2017
Free to use per Pexels licensing policy
  ~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~
    Top Bar
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Topbar w/messages and currency~~~~~~~~~*/
.topbar,
.topbar a {
    background: none;
     color: var(--text-light) !important;
}

.topbar a:hover {
    color: var(--accent-color-light) !important;
}

/*~~~~~~~~~~~~~~~~~
    Main Containers
  ~~~~~~~~~~~~~~~~~*/
.container.main {
    background: none;
    border: none;
    box-shadow: none;
}

.col-md-9.col-xs-12 {
    background: none;
}

/*~~~~~~~~~~~~~~~~~
  Navbar
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Navbar text~~~~~~~~~*/
.navbar.navbar-default,
.navbar.navbar-default a {
  background:none;
  color: var(--text-light) !important;
}

.navbar.navbar-default a:hover {
    background: var(--bg-panel-light) !important;
    color: var(--accent-color-light) !important;
    border-radius: var(--radius-small);
}

body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a:hover {
  background: none !important;
}

/*~~~~~~~~~Navbar main expanded~~~~~~~~~*/
#bs-example-navbar-collapse-1 {
  border:none;
}

.navbar.navbar-default {
    background: none;
}

/*~~~~~~~~~Navbar button when collapsed~~~~~~~~~*/
.navbar button {
    background: var(--bg-input-light) !important;
    border: 1px solid var(--border-color-main) !important;
    border-radius: none;
}

.navbar-header button span {
  background: var(--border-color-main) !important;
}

.navbar button:hover,
.navbar button:active,
.navbar button:focus {
    background: var(--bg-input-mid) !important;
    color: var(--accent-color-light) !important;
    border-color: var(--accent-color-light) !important;
}

.navbar button:hover  span {
  background: var(--accent-color-light) !important
}

.nav navbar-nav.visible-xs visible-sm.visible-md.smaller-nav {
  border:none;
  box-shadow:none;
}

/*~~~~~~~~~~~~~~~~~
    Breadcrumb, Den Title, and Credit
  ~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~Breadcrumb with home/name~~~~~~~~~*/
.breadcrumb {
    background: transparent;
}

.breadcrumb a,
.breadcrumb-item.active {
    color: var(--text-light);
}

.breadcrumb a:hover {
    color: var(--accent-color-light);
}

/*~~~~~~~~~Credit~~~~~~~~~*/
.breadcrumb::after {
  content:"✧CSS by Eli in Motion #319237✧";
  float:right;
}

/*~~~~~~~~~Bookmark Button~~~~~~~~~*/
#pageContainer .floatright input {
  display:none;
}

/*~~~~~~~~~________'s Den~~~~~~~~~*/
#pageContainer h1 {
    color: var(--accent-color-light);
    text-align: center;
}

/*~~~~~~~~~~~~~~~~~
    Alerts
  ~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~All alert text~~~~~~~~~*//
.alert,
.alert a {
    color: var(--text-light);
}

.alert a:hover {
    color: var(--accent-color-dark);
}

/*~~~~~~~~~Green Alerts~~~~~~~~~*/
.alert.alert-success {
  background: var(--bg-panel-light);
  border:var(--border-size-small) solid var(--border-color-main);
  border-radius:var(--radius-small);
}

/*~~~~~~~~~Red Alerts~~~~~~~~~*/
.alert-danger {
    background: var(--bg-panel-mid);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

/*~~~~~~~~~~~~~~~~~
    Comment Box
  ~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~Whole comment box~~~~~~~~~*/
#commentBox {
    background:var(--transparent);
    border: var(--border-size-big) solid var(--border-color-main) !important;
    border-radius:var(--radius-big);
}

#commentBox::-webkit-scrollbar {
  width: 10px;
}

#commentBox::-webkit-scrollbar-track {
  background: var(--bg-panel-mid);
  margin-block: 2px !important;
  margin-block: 0;
}

#commentBox::-webkit-scrollbar-thumb {
    background-color: var(--bg-panel-light);
    border-radius: 4px;
}

/*~~~~~~~~~Comment box text~~~~~~~~~*/
#commentBox,
#commentBox a {
    color: var(--accent-color-mid);
}

#commentBox .text-muted {
    color: var(--text-small-light) !important;
}

#commentBox a:hover {
    color: var(--accent-color-dark);
}

/*~~~~~~~~~Existing comments~~~~~~~~~*/
.comment:nth-child(odd) {
    background-color: var(--bg-panel-light);
}

.comment:nth-child(even) {
    background-color: var(--bg-panel-mid) !important;
}

/*~~~~~~~~~Comment box X button~~~~~~~~~*/
#commentBox .bad {
    background: var(--bg-input-light);
    color: var(--text-light);
    text-shadow: none;
    border: 1px solid var(--border-color-main);
    border-radius: none;
}

#commentBox .bad:hover {
    background: var(--bg-input-dark);
    color: var(--accent-color-mid);
    border-color: var(--accent-color-mid);
}

/*~~~~~~~~~Make comment input box~~~~~~~~~*/
#comment {
    background: var(--bg-input-light);
    color: var(--text-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

#comment::placeholder {
    color: var(--text-small-light) !important;
}

/*~~~~~~~~~Make comment post button~~~~~~~~~*/
#postComment {
    background: var(--bg-input-light);
    color: var(--accent-color-dark);
    text-shadow: none;
    border: 1px solid var(--border-color-main);
    border-radius: none;
}

#postComment:hover {
    background-color: var(--bg-input-dark);
    color: var(--accent-color-light);
    border-color: var(--accent-color-light);
}

/*~~~~~~~~~~~~~~~~~
    About Pride
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~About pride text~~~~~~~~~*/
#about,
#about a {
    color: var(--text-light);
    text-decoration:none
}

#about a:hover {
    color: var(--accent-color-dark);
    border:none;
}

/*~~~~~~~~~About pride outer area~~~~~~~~~*/
#about.table {
  background: var(--bg-header-mid);
  border: var(--border-size-big) solid var(--border-color-main);
  border-radius:var(--radius-big);
  overflow: hidden;
  border-collapse: separate;
}

/*~~~~~~~~~About inner areas~~~~~~~~~*/
#about .top,
#about .bottom {
    background: var(--bg-header-light);
}

#about td .left {
    background: var(--bg-panel-mid);
}

#about td .right {
    background: var(--bg-panel-light);
}


/*~~~~~~~~~~~~~~~~~
  About Player
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~About player text~~~~~~~~~*/
#player,
#player .top,
#player a {
    color: var(--text-light);
}

#player a:hover {
    color: var(--accent-color-dark);
}

/*~~~~~~~~~About player outer area~~~~~~~~~*/
#player {
  background: var(--bg-header-mid);
  border: var(--border-size-big) solid var(--border-color-main);
  border-radius:var(--radius-big);
  overflow: hidden;
  border-collapse: separate;
}

/*~~~~~~~~~About player inner areas~~~~~~~~~*/
#player .top {
    background: var(--bg-header-light);
}

#player td.left {
    background: var(--bg-panel-mid);
}

#player td .right {
    background-color: var(--bg-panel-light);
}

/*~~~~~~~~~~~~~~~~~
  Caves and Mounds
~~~~~~~~~~~~~~~~~*/
.cave-grid {
  background-color: var(--bg-panel-light);
  color: var(--text-light);
  border:var(--border-size-small) solid var(--border-color-main);
  border-radius:var(--radius-small);
}

.mound-grid {
    background-color: var(--bg-panel-mid);
    color: var(--text-light);
    border:var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

/*~~~~~~~~~~~~~~~~~
    Sparring
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Sparring main area~~~~~~~~~*/
#sparring {
  background: transparent;
  color:var(--text-light);
  border: var(--border-size-big) solid var(--border-color-main);
  border-radius:var(--radius-big);
  overflow: hidden;
  border-collapse: separate;
  margin-bottom:10px;
}

/*~~~~~~~~~Sparring inner areas~~~~~~~~~*/
#sparring th {
    background: var(--bg-header-light);
}

#sparring td {
    background: var(--bg-panel-light);
}

#sparring td .right_odd {
  background: transparent;
}

#sparring .right_odd span {
    color:var(--text-light);
}

/*~~~~~~~~~Sparring input areas~~~~~~~~~*/
#sparring select,
#sparring input {
    background: var(--bg-input-light);
    color: var(--text-light);
    text-shadow: none;
    border: 1px solid var(--accent-color-dark);
    border-radius: none;
    box-shadow: none;
}

#sparring input:hover {
    background: var(--bg-input-dark);
    border-color: var(--accent-color-light);
    color: var(--accent-color-light);
}


/*~~~~~~~~~~~~~~~~~
  FAPA
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~FAPA text~~~~~~~~~*/
.row,
.row span,
.row .feature h3,
.row .feature input,
.row .feature select {
  color: var(--text-light) !important;
  text-shadow: none;
}

/*~~~~~~~~~FAPA main areas~~~~~~~~~*/
.row .feature {
    background: var(--bg-panel-light);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
}

/*~~~~~~~~~FAPA inputs~~~~~~~~~*/
.row .feature input,
.row .feature select {
    background: var(--bg-input-light);
    color: var(--accent-color-dark);
    border: 1px solid var(--accent-color-dark);
    border-radius: none;
}

.row .feature input:hover {
    background: var(--bg-input-dark) !important;
    color: var(--accent-color-light) !important;
    border-color: var(--accent-color-light) !important;
}

/*~~~~~~~~~~~~~~~~~
  Allies
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Allies text~~~~~~~~~*/
#allies,
#allies a,
#allies .top{
  color: var(--text-light) !important;
  text-decoration: none;
}

#allies a:hover {
    color: var(--accent-color-dark);
}

/*~~~~~~~~~Allies main area~~~~~~~~~*/
#allies {
    background: var(--bg-panel-mid);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
}

/*~~~~~~~~~Allies inner areas~~~~~~~~~*/
#allies .top,
#allies .bottom {
    background-color: var(--bg-header-light);
}

#allies .left {
    display: none;
}

/*~~~~~~~~~~~~~~~~~
    Clans
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Clans text~~~~~~~~~*/
#clans,
#clans a,
#clans .top {
    color: var(--text-light);
}

#clans a:hover {
    color: var(--accent-color-dark);
}

/*~~~~~~~~~Clans main area~~~~~~~~~*/
#clans {
    background: var(--bg-panel-mid);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow: hidden;
    border-collapse: separate;
}

/*~~~~~~~~~Clans inner areas~~~~~~~~~*/
#clans .top {
    background-color: var(--bg-header-light);
}

#clans .left {
    display: none;
}

/*~~~~~~~~~~~~~~~~~
  Dynasties
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Dynasties text~~~~~~~~~*/
.row.dynastycollection h3 {
  color: var(--text-light);
}

/*~~~~~~~~~Dynasties Icon Backgrounds~~~~~~~~~*/
.row.dynastycollection div .left {
  background: var(--bg-panel-light);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius:var(--radius-small);
  width: fit-content;
}

/*~~~~~~~~~~~~~~~~~
  Logs
~~~~~~~~~~~~~~~~~*/
.col.col-sm-4 .left {
    background-color: var(--bg-panel-light);
    color: var(--text-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}


/*~~~~~~~~~~~~~~~~~
  Edit Details
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Edit details text~~~~~~~~~*/
.table th,
.table th a,
#editdetailspanel .right select,
#editdetailspanel a {
  color: var(--text-light) !important;
  border:none !important;
} 

.table th a:hover,
#editdetailspanel a:hover {
    color: var(--accent-color-dark) !important;
}

/*~~~~~~~~~Edit details main expanded area~~~~~~~~~*/
#editdetailspanel {
  border: var(--border-size-small) solid var(--border-color-main);
  border-bottom-right-radius: var(--radius-small);
  border-bottom-left-radius: var(--radius-small);
  overflow: hidden;
  border-collapse: separate;
}

.table:nth-child(3) {
  border: var(--border-size-small) solid var(--border-color-main);
  border-top-right-radius: var(--radius-small);
  border-top-left-radius: var(--radius-small);
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  overflow: hidden;
  border-collapse: separate;
}

.table th {
    background-color: var(--bg-header-light);
}

/*~~~~~~~~~Edit details expanded inner areas~~~~~~~~~*/
.table {
    margin:0px !important;
}

#editdetailspanel .left {
    background: var(--bg-panel-light);
}

#editdetailspanel .right {
    background: var(--bg-panel-mid);
}

/*~~~~~~~~~Edit details input areas~~~~~~~~~*/
#editdetailspanel .right textarea,
#editdetailspanel .right input,
#editdetailspanel .right select,
#editdetailspanel .bottom input {
  background: var(--bg-input-light);
  text-shadow: none;
  border: 1px solid var(--border-color-main);
  border-radius: none;
}

#editdetailspanel .right textarea {
  scrollbar-color: var(--bg-input-dark) var(--bg-input-mid);
  scrollbar-width: thin;
}

#editdetailspanel .bottom {
    background: var(--bg-header-light);
}

#editdetailspanel .bottom input:hover {
    background: var(--bg-input-mid);
    color: var(--accent-color-dark);
    border-color: var(--accent-color-dark);
}

/*~~~~~~~~~~~~~~~~~
  Account Settings
~~~~~~~~~~~~~~~~~*/
form .left:has(a[href*='/account-settings.php']) {
    background: var(--bg-header-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-small);
}

form .left a {
    color: var(--text-light);
}

form .left a:hover {
    color: var(--accent-color-dark);
}

/*~~~~~~~~~~~~~~~~~
  Sidebar
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Sidebar text~~~~~~~~~*/
#pageSidebar,
#pageSidebar a,
#pageSidebar h3 {
    color: var(--text-light);
}

#pageSidebar a:hover {
    color: var(--accent-color-dark) !important;
}

/*~~~~~~~~~Sidebar main area~~~~~~~~~*/
#pageSidebar {
  background: transparent;
}

/*~~~~~~~~~Sidebar inner areas~~~~~~~~~*/
  /*~~~~Date, Event Currency, Energy Boost, and Progress Bars~~~~*/
#pageSidebar .panel.panel-default,
#pageSidebar .panel {
  background: var(--bg-panel-dark);
  color: var(--text-light);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius: var(--radius-big);
  overflow: hidden;
  box-shadow: none;
}

#pageSidebar .panel-body.small {
    background-color: transparent;
}

#pageSidebar .panel-body.small.center input {
  background: var(--bg-input-dark);
  color: var(--text-light);
  border: 1px solid var(--border-color-main);
  border-radius: none;
  text-shadow: none;
}

#pageSidebar .panel-body.small.center input:hover {
  background: var(--bg-input-mid) !important;
  color: var(--accent-color-mid) !important;
  border-color: var(--accent-color-mid) !important;
}

 /*~~~~Achievements, Bookmarks~~~~*/
.col-md-12.col-xs-5 .panel {
  background: var(--bg-panel-dark);
  color: var(--text-light);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius: var(--radius-small);
  overflow: hidden;
}

.col-md-12.col-xs-5 .panel p {
    display:none;
}

.clear.visible-xs.visible-sm {
    border:none !important;
}

  /*~~~~Stats, Media~~~~*/
.col-md-12.col-xs-12.visible-md.visible-lg {
  background: var(--bg-panel-mid);
  color: var(--text-light);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius: var(--radius-big);
}

/*~~~~~~~~~~~~~~~~~
  Chatbox
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Chatbox text~~~~~~~~~*/
#fraSidebarChat,
#fraSidebarChat a,
#chatMessageList a,
#fraSidebarChat span,
#chatMessagePinned,
#chatMessagePinned a,
#txtChatContainer a,
.chatMenu-container button {
  color: var(--text-light) !important;
}

#fraSidebarChat a:hover,
#chatMessageList a:hover,
#txtChatContainer a:hover,
#fra_chatContainer a:hover {
  color: ver(--accent-color-mid) !important;
}

.s-chat-message_timestamp {
  color: var(--text-small-mid)
}

/*~~~~~~~~~Chatbox inputs~~~~~~~~~*/
#btnToggleSidebarChat,
#label_currentChannel,
#txtChatInput,
#btnChatSend,
.chatMenu-container {
    background: var(--bg-input-light);
    color: var(--accent-color-light);
    text-shadow: none;
    border: 1px solid var(--border-color-main);
    border-radius: none;
}

.chatMenu-container button:hover,
.channelSwitcher.active,
#btnToggleSidebarChat:hover,
#btnChatSend:hover {
  background: var(--bg-input-mid) !important;
  color: var(--accent-color-mid) !important;
  border-color: var(--accent-color-mid) !important;
}

/*~~~~~~~~~Chatbox main container~~~~~~~~~*/
#chatMessagePinned {
  background: var(--bg-header-dark) !important;
}

#fraSidebarChat {
  background: transparent;
  color: var(--text-light);
}

#chatMessageContainer {
  border: 1px solid var(--border-color-main);
}

#chatMessageList {
  backgound: transparent;
  color: var(--text-light);
  border-radius: var(--radius-small);
  box-shadow:0 0 0 var(--border-size-small) var(--border-color-main);
  scrollbar-color: var(--bg-input-dark) var(--bg-input-mid);
  scrollbar-width: thin;
}

/*~~~~~~~~~Chatbox alternating messages~~~~~~~~~*/
.s-chat-message:nth-child(even),
#chatMessagePinned {
    background: var(--bg-panel-mid) !important;
}

.s-chat-message:nth-child(odd) {
    background: var(--bg-panel-light);
}

/*~~~~~~~~~Mod messages~~~~~~~~~*/
.s-chat-message.s-chat-message__mod {
  background: var(--mod-bg) !important;
  color: var(--text-mod);
  font-weight:normal;
  border: none;
  padding-left: 4px;
}

.s-chat-message.s-chat-message__mod a {
  color: var(--text-light) !important;
}

.s-chat-message.s-chat-message__mod a:hover{
  color: ver(--accent-color-mid) !important;
}

.s-chat-message.s-chat-message__mod .s-chat-message_timestamp {
  padding-left: 4px;
}

/*~~~~~~~~~~~~~~~~~
  BugBox Button
~~~~~~~~~~~~~~~~~*/ 
.btn.btn-default.button {
    background: var(--bg-input-light);
    color:var(--accent-color-dark) !important;
    text-shadow: none;
    border: 1px solid var(--border-color-main);
    border-radius:var(--radius-none);
}

.btn.btn-default.button:hover {
    background: var(--bg-input-dark) !important;
    color: var(--accent-color-light) !important;
    border-color: var(--accent-color-light) !important;
}

/*~~~~~~~~~~~~~~~~~
  Lioden License and Links
~~~~~~~~~~~~~~~~~*/ 
.col-xs-10, 
.col-xs-10 a {
  color: var(--text-light) !important;
  text-shadow:none;
  border:none !important;
}

.col-xs-10 a:hover {
  color: var(--accent-color-mid) !important;
}

/*~~~~~~~~~~~~~~~~~
  End Initiate
~~~~~~~~~~~~~~~~~*/
