/*~~~~~Acolyte~~~~*/
/*Chat Selection Input*/
#label_currentChannel {
  background:var(--bg-chat-dark) !important;
  color:var(--font-color-main);
  text-shadow:none;
  border:1px solid var(--border-color) !important;
  border-radius:0px;
}

#label_currentChannel:hover {
  background:var(--accent-color-dark) !important;
  color:var(--accent-color-light);
  border-color:var(--accent-color-light) !important;
  border-radius:0px;
}

.channelSwitcher.active {
  background:var(--accent-color-dark) !important;
  color:var(--accent-color-light);
  border-color:var(--accent-color-light) !important;
  border-radius:0px;
}

#fraChatChannelMenu {
  background:var(--bg-chat-dark) !important;
  color:var(--font-color-main);
  text-shadow:none;
  border:1px solid var(--border-color) !important;
  border-radius:0px !important;
  padding:0px !important;
}

.channelSwitcher {
  color:var(--font-color-main) !important;
  border-radius:0px !important;
}

#btnLoadNewMessages,
#btnChatSettings {
  filter: brightness(2)
}

.channelSwitcher:hover {
  background:var(--accent-color-dark) !important;
  color:var(--accent-color-light);
  border-color:var(--accent-color-light) !important;
}

/*~~~~Main Chatbox~~~~*/
#chatMessageContainer {
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-big);
}

/*~~~~Pinned Message~~~~*/
#chatMessagePinned {
  color:var(--font-color-main) !important;
  background-color:var(--bg-header-light) !important;
  border-bottom:none !important;
}

#chatMessagePinned a {
  color:var(--font-color-main);
}

#chatMessagePinned a:hover {
  color:var(--accent-color-light);
}

/*~~~~Message Scrollbar~~~~*/
#chatMessageList::-webkit-scrollbar {
  width:10px;
}

#chatMessageList::-webkit-scrollbar-track {
  background:var(--bg-chat-light);
}

#chatMessageList::-webkit-scrollbar-thumb {
  background:var(--bg-chat-dark);
  border-block:1px solid var(--border-color);
}

/*~~~~Chat Messages~~~~*/
.s-chat-message a {
  color:var(--font-color-main);
}

.s-chat-message a:hover {
  color:var(--accent-color-light);
}

.s-chat-message:nth-child(even) {
  background:var(--bg-chat-dark);
  color:var(--font-color-main);
}

.s-chat-message:nth-child(odd) {
  background:var(--bg-chat-light);
  color:var(--font-color-main);
}

.s-chat-message_timestamp {
  color:var(--font-color-small);
}

/*~~~~Conduct and input~~~~*/
#txtChatContainer a {
  color:var(--font-color-main);
}

#txtChatContainer a:hover {
  color:var(--accent-color-light);
}

#txtChatInput {
  background:var(--bg-chat-dark) !important;
  color:var(--font-color-main);
  text-shadow:none;
  border:1px solid var(--border-color) !important;
  border-radius:0px;
}

.emoteList.active {
  background:var(--bg-chat-dark);
  border:1px solid var(--border-color);
}

#btnChatSend {
  background:var(--bg-chat-dark) !important;
  color:var(--font-color-main);
  text-shadow:none;
  border:1px solid var(--border-color) !important;
  border-radius:0px;
}

#btnChatSend:hover {
  background:var(--accent-color-dark) !important;
  color:var(--accent-color-light);
  border-color:var(--accent-color-light) !important;
  border-radius:0px;
}
