/*HTML
<div class="Bio">
<div class="BioLeft">Left Tall Div</div> <div class="BioTopRight">Top Right Div</div><div class="BioBottomRight">Bottom Right Div</div>
</div> */

/* =========================================================
   BIO BOX 1
   ========================================================= */

.Bio {
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:100px 100px;
    gap:10px 20px;
    color:var(--text-dark);
}

.Bio br {
    display:none;
}

.BioLeft {
    background:var(--bg-header-light);
    grid-row-start:1;
    grid-row:1/3;
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow:hidden;
}

.BioLeft::-webkit-scrollbar {
    display:none;
}

.BioTopRight {
    background:var(--bg-panel-mid);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow:hidden;
}

.BioTopRight::-webkit-scrollbar {
    display:none;
}

.BioBottomRight {
    background:var(--bg-panel-light);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius:var(--radius-big);
    overflow:hidden;
}

.BioBottomRight::-webkit-scrollbar {
    display:none;
}

/* =========================================================
   END BIO BOX 1
   ========================================================= */
