/*~~~~~~~~~~~~~~~~~
    Initiate
  ~~~~~~~~~~~~~~~~~*/
 /*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/Templates/Den%20CSS/Initiate-Template-Light-Rework.css" /> */
/*~~~~~~~~~~~~~~~~~
    Customization
  ~~~~~~~~~~~~~~~~~*/

:root {

/*~~~~~~~~~Main Bakcground~~~~~~~~~*/
  --bg-page-color:white;
  --bg-page-image:url('https://static.lioden.com/images/dynamic/backgrounds/nothing.png');

/*~~~~~~~~~Bakcground Colors~~~~~~~~~*/
  --bg-panel-light:#ffe6eb;
  --bg-panel-mid: #c772c7;
  --bg-panel-dark: #8484bf;
  --bg-header-light: #fbe4e8;
  --bg-header-mid: purple;
  --bg-header-dark: blue;
  --bg-input-light: #ffe7eb;
  --bg-input-mid: #aa31aa;
  --bg-input-dark:#6a6aff;

/*~~~~~~~~~Text Colors~~~~~~~~~*/
  --text-light: #cbddf1;
  --text-mid: gray;
  --text-dark: #810000;
  --text-small-light: white;
  --text-small-mid: gray;
  --text-small-dark: black;

/*~~~~~~~~~Borders~~~~~~~~~*/
  --border-color-main:#4bb14b;
  --border-color-alt:gray;
  --border-size-big: 4px;
  --border-size-small:2px;
  --radius-big: 20px;
  --radius-small: 10px;

/*~~~~~~~~~Chat~~~~~~~~~*/
  --bg-mod: pink;
  --text-mod: purple;
  
/*~~~~~~~~~Misc~~~~~~~~~*/
  --accent-color-light: #b26976;
  --accent-color-mid: #0a6c0a;
  --accent-color-dark: red;
}

/*~~~~~~~~~~~~~~~~~
    Main Body
  ~~~~~~~~~~~~~~~~~*/
body {
    background-color: var(--bg-page-color);
    background-image: var(--bg-page-image);
    background-attachment: cover;
    background-repeat: no-repeat;
}

/*~~~~~~~~~~~~~~~~~
    Top Bar
  ~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~Topbar w/messages and currency~~~~~~~~~*/
.topbar,
.topbar a {
  background:none;
  color:var(--text-dark) !important;
}

.topbar a:hover {
  color:var(--accent-color-mid) !important;
}

/*~~~~~~~~~Main container behind everything~~~~~~~~~*/
.container.main {
  background: none;
  border: none;
  box-shadow: none;
}

/*~~~~~~~~~~~~~~~~~
    Navbar
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Navbar text~~~~~~~~~*/
.navbar.navbar-default,
.navbar.navbar-default a {
  background:none;
  color: var(--text-dark) !important;
}

.navbar.navbar-default a:hover {
  background: var(--bg-panel-light) !important;
  color: var(--accent-color-light) !important;
  border-radius: var(--radius-small);
}

body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a:hover {
  background: none !important;
  color: var(--text-dark);
}

/*~~~~~~~~~Navbar main expanded~~~~~~~~~*/
#bs-example-navbar-collapse-1 {
  border:none;
}

/*~~~~~~~~~Navbar button when collapsed~~~~~~~~~*/
.navbar button {
  background: var(--bg-input-mid);
  border: 1px solid var(--border-color-main);
  border-radius: 0px;
}

.navbar-header button span {
  background: var(--border-color-main) !important;
}

.navbar button:hover,
.navbar button:active,
.navbar button:focus {
  background: var(--bg-input-light) !important;
  border: 1px solid var(--accent-color-mid);
}

.navbar button:hover  span {
  background: var(--accent-color-mid) !important
}

.nav navbar-nav.visible-xs visible-sm.visible-md.smaller-nav {
  border:none;
  box-shadow:none;
}

/*~~~~~~~~~~~~~~~~~
    Breadcrumb, Den Title, and Credit
  ~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~Breadcrumb with home/name~~~~~~~~~*/
.breadcrumb {
  background:transparent;
}

.breadcrumb a,
.breadcrumb-item.active {
  color: var(--text-dark);
}

.breadcrumb a:hover {
  color: var(--accent-color-light)
}

/*~~~~~~~~~Credit~~~~~~~~~*/

        /*----------- WIP-----------*/

/*~~~~~~~~~________'s Den~~~~~~~~~*/
#pageContainer h1 {
  color: var(--accent-color-dark);
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~
    Alerts
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~All alert text~~~~~~~~~*/
.alert,
.alert a {
  color: var(--text-dark);
}

.alert a:hover {
  color: var(--accent-color-light);
}

/*~~~~~~~~~Green Alerts~~~~~~~~~*/
.alert.alert-success {
  background: var(--bg-panel-light);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius: var(--radius-small);
}

/*~~~~~~~~~Red Alerts~~~~~~~~~*/
.alert-danger {
  background: var(--bg-panel-mid);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius: var(--radius-small);
}

/*~~~~~~~~~~~~~~~~~
    Comment Box
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Whole comment box~~~~~~~~~*/
#commentBox {
  background: transparent;
  border: var(--border-size-big) solid var(--border-color-main) !important;
  border-radius: var(--radius-big);
}

#commentBox::-webkit-scrollbar {
  width: 10px;
}

#commentBox::-webkit-scrollbar-track {
  background: var(--bg-input-light);
  margin-block: 2px !important;
  margin-block: 0;
}

#commentBox::-webkit-scrollbar-thumb {
  background: var(--bg-input-mid);
  border-radius: 4px;
}

/*~~~~~~~~~Comment box text~~~~~~~~~*/
#commentBox,
#commentBox a {
  color: var(--text-dark) !important;
}

#commentBox .text-muted {
  color: var(--text-muted-dark);
}

#commentBox a:hover {
  color: var(--accent-color-light) !important;
}

/*~~~~~~~~~Existing comments~~~~~~~~~*/
#commentBox > .comment:nth-child(odd) {
  background-color: var(--bg-panel-light);
}

.comment:nth-child(even) {
  background: var(--bg-panel-mid) !important;
}

/*~~~~~~~~~Comment box X button~~~~~~~~~*/
#commentBox .bad {
  background: var(--bg-input-mid);
  color: var(--text-dark);
  text-shadow:none;
  border: 1px solid var(--border-color-main);
  border-radius: none;
}

 #commentBox .bad:hover {
  background: var(--bg-input-light);
  color: var(--accent-color-light);
  border-color: var(--accent-color-light);
}

/*~~~~~~~~~Make comment input box~~~~~~~~~*/
#comment {
  background: var(--bg-input-mid);
  color: var(--text-small-mid);
  border: var(--border-size-small) solid var(--border-color-main);
  border-radius: var(radius-small);
}

#comment::placeholder {
  color: var(--text-muted-dark);
}

/*~~~~~~~~~Make comment post button~~~~~~~~~*/
  #postComment {
    background: var(--bg-input-dark);
    color: var(--text-dark);
    text-shadow: none;
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: none;
  }

  #postComment:hover {
    background: var(--bg-input-light);
    color: var(--accent-color-light);
    border-color: var(--accent-color-light);
  }
  
/*~~~~~~~~~~~~~~~~~
    About Pride
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~About pride text~~~~~~~~~*/
#about,
#about a {
  color: var(text-dark);
  text-decoration:none;
}

  #about a:hover {
    color: var(--accent-color-mid);
  }

/*~~~~~~~~~About pride outer area~~~~~~~~~*/
  #about {
    background: transparent;
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(--radius-big);
    overflow: hidden;
  }

/*~~~~~~~~~About inner areas~~~~~~~~~*/
  #about .top,
  #about .bottom {
    background: var(--bg-header-mid);
  }

  #about td .left {
    background: var(--bg-panel-mid);
  }

  #about td .right {
    background: var(--bg-panel-light);
  }

  /*~~~~~~~~~~~~~~~~~
    About Player
  ~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~About player text~~~~~~~~~*/
  #player,
  #player a {
    color: var(--text-dark);
  }

  #player a:hover {
    color: var(--accent-color-mid);
  }

/*~~~~~~~~~About player outer area~~~~~~~~~*/
#player {
  background: transparent;
  border: var(--border-size-big) solid var(--border-color-main);
  border-radius: var(--radius-big);
  overflow: hidden;
}

  /*~~~~~~~~~About player inner areas~~~~~~~~~*/
  #player .top {
    background: var(--bg-header-mid);
  }

  #player td.left {
    background: var(--bg-panel-mid);
  }

  #player td.right {
    background: var(--bg-panel-light);
  }

  /*~~~~~~~~~~~~~~~~~
    Caves and Mounds
  ~~~~~~~~~~~~~~~~~*/

  .cave-grid {
    background: var(--bg-header-dark);
    color: var(--text-dark);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: var(--radius-small);
  }

  .mound-grid {
    background: var(--bg-header-mid);
    color: var(--text-dark);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: var(--radius-small);

/*~~~~~~~~~~~~~~~~~
    Sparring
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Sparring main area~~~~~~~~~*/
#sparring {
  background: transparent;
  color: var(--text-dark);
  border: var(--border-size-big) solid var(--border-color-main);
  border-radius: var(--radius-big);
  overflow: hidden;
  margin-bottom: 10px;
}

/*~~~~~~~~~Sparring inner areas~~~~~~~~~*/
#sparring th {
  background; var(--bg-header-mid);
}
  
#sparring td {
  background: var(--bg-panel-mid);
}

#sparring td .right_odd {
  background: transparent;
}

#sparring td .right_odd span {
  color: var(--text-dark);
}

/*~~~~~~~~~Sparring input areas~~~~~~~~~*/
#sparring select,
#sparring input {
  background: var(--bg-input-dark);
  color: var(--text-dark);
  text-shadow: none;
  border: 1px solid var(--border-color-main);
  border-radius: none;
  box-shadow: none;
}

#sparring input:hover {
  background: var(--bg-input-light);
  color: var(--accent-color-light);
  border-color: var(--accent-color-light);
}

/*~~~~~~~~~~~~~~~~~
    FAPA
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~FAPA text~~~~~~~~~*/
.row,
.row span,
.row .feature h3,
.row .feature input,
.row .feature select {
  color: var(--text-dark);
  text-shadow: none;
}

/*~~~~~~~~~FAPA main areas~~~~~~~~~*/
.row .feature {
  background: var(--bg-panel-mid);
  border: var(--border-size-big) solid var(--border-color-main);
  border-radius: var(--radius-big);
  overflow: hidden;
}

/*~~~~~~~~~FAPA inputs~~~~~~~~~*/
.row .feature input,
.row .feature select {
  background: var(--bg-input-mid);
  border: 1px solid var(--border-color-main);
  border-radius: none;
}

.row .feature input:hover {
  background: var(--bg-input-light);
  color: var(--accent-color-light);
  border-color: var(--accent-color-light);
}

/*~~~~~~~~~~~~~~~~~
    Allies
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Allies text~~~~~~~~~*/
#allies,
#allies a {
    color: var(--text-dark);
    text-decoration: none;
}

#allies a:hover {
    color: var(--accent-color-mid);
}

/*~~~~~~~~~Allies main area~~~~~~~~~*/
#allies {
    background: transparent;
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(--radius-big);
    overflow:hidden;
}

/*~~~~~~~~~Allies inner areas~~~~~~~~~*/
#allies .top,
#allies .bottom {
    background: var(--bg-header-mid);
}

#allies .left {
    display: none;
}

/*~~~~~~~~~~~~~~~~~
    Clans
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Clans text~~~~~~~~~*/
#clans,
#clans a {
    color: var(--text-dark);
}

#clans a:hover {
    color: var(--accent-color-mid);
}

/*~~~~~~~~~Clans main area~~~~~~~~~*/
#clans {
    background: transparent;
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(radius-big);
    overflow: hidden;
}

/*~~~~~~~~~Clans inner areas~~~~~~~~~*/

#clans .top {
    background: var(--bg-header-mid);
}

#clans .left {
    display: none;
}

/*~~~~~~~~~~~~~~~~~
    Dynasties
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Dynasties text~~~~~~~~~*/
.row.dynastycollection h3 {
    color: var(--text-dark);
}

/*~~~~~~~~~Dynasties Icon Backgrounds~~~~~~~~~*/ 
.row.dynastycollection div .left {
    background: var(--bg-panel-mid);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: var(--radius-small);
}

/*~~~~~~~~~~~~~~~~~
    Logs
~~~~~~~~~~~~~~~~~*/
.col.col-sm-4 .left {
    color: var(--text-dark);
    background: var(--bg-panel-mid);
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: var(--radius-small);
}

/*~~~~~~~~~~~~~~~~~
    Edit Details
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Edit details text~~~~~~~~~*/
.table th,
.table th a {
    color: var(--text-dark);
}

.table th a:hover {
    color: var(--accent-color-mid);
}

/*~~~~~~~~~Edit details main area~~~~~~~~~*/
#editdetailpanel {
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: var(--radius-small);
    overflow: hidden;
}

.table {
    margin: 0px;
}

.table:nth-child(3) {
    border: var(--border-size-small) solid var(--border-color-main);
    border-radius: var(--radius-small);
    overflow: hidden;
}

.table th {
    background: var(--bg-header-mid);
}

/*~~~~~~~~~Edit details expanded area~~~~~~~~~*/
#editdetailpanel .left {
    background: var(--bg-panel-mid);
}

#editdetailpanel .right {
    background: var(--bg-panel-light);
}
    
/*~~~~~~~~~Edit details input areas~~~~~~~~~*/
#editdetailpanel .right textarea,
#editdetailpanel .right input,
#editdetailpanel .right select,
#editdetailpanel .bottom input {
    background: var(--bg-input-dark);
    border: 1px solid var(--border-color-main);
    border-radius: none;
    text-shadow: none;
}

#editdetailpanel .right textarea {
    scrollbar-color: var(--bg-input-mid) var(--bg-input-light);
    scrollbar-width: thin;
}

#editdetailpanel .bottom {
    background: var(--bg-header-mid);
}

#editdetailpanel .bottom input:hover {
    background: var(--bg-input-light);
    color: var(--accent-color-light);
    border-color: var(--accent-color-light);
}

/*~~~~~~~~~~~~~~~~~
    Account Settings
~~~~~~~~~~~~~~~~~*/
form .left:has(a[href*='/account-settings.php']) {
    background: var(--bg-header-mid);
    color: var(--text-dark);
    border: var(--border-size-small) solid var(--border-color-main);
}

form .left a:hover {
    color: var(--accent-color-mid);
}

/*~~~~~~~~~~~~~~~~~
    Sidebar
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Sidebar text~~~~~~~~~*/
#pageSidebar,
#pageSidebar a,
#pageSidebar h3 {
    color: var(--text-dark);
}

#pageSidebar a:hover {
    color: var(--accent-color-mid);
}

/*~~~~~~~~~Sidebar main area~~~~~~~~~*/
#pageSidebar {
    background: transparent;
}

/*~~~~~~~~~Sidebar inner areas~~~~~~~~~*/
    /*~~~~Date, Event Currency, and Progress Bars~~~~*/
#pageSidebar .panel.panel-default,
#pageSidebar .panel {
    background: var(--bg-panel-mid);
    color: var(--text-dark);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(--radius-big);
    overflow: hidden;
}

#pageSidebar .panel-body.small {
    background: transparent;
}
    /*~~~~Achievements, Bookmarks~~~~*/
.col-md-12.col-xs-5 .panel {
    background: var(--bg-panel-mid);
    color: var(--text-dark);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(--radius-big);
    overflow: hidden;
}

.col-md-12.col-xs-5 .panel p {
    display: none;
}

.clear visible-xs.visible-sm {
    border: none;
}

    /*~~~~Stats, Media~~~~*/
.col-md-12.col-xs-12 .visible-md.visible-lg {
    background: var(--bg-panel-mid);
    color: var(--text-dark);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(--radius-big);
    overflow: hidden;
}

/*~~~~~~~~~~~~~~~~~
    Chatbox
~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~Chatbox text~~~~~~~~~*/
#fraSidebarChat,
#fraSidebarChat a,
#fraSidebarChat span {
    color: var(--text-dark);
}

#fraSidebarChat a:hover {
    color: ver(--accent-color-mid);
}

/*~~~~~~~~~Chatbox inputs~~~~~~~~~*/
#btnToggleSidebarChat,
#label_currentChannel,
#txtChatInput,
#btnChatSend {
    background: var(--bg-input-dark);
    border: 1px solid var(--border-color-main);
    border-radius: none;
    text-shadow: none;
}

#btnToggleSidebarChat:hover,
#btnChatSend:hover {
    background: var(--bg-input-light);
    color: var(--accent-color-light);
    border-color: var(--accent-color-light);
}

/*~~~~~~~~~Chatbox main container~~~~~~~~~*/
#fraSidebarChat {
    background: transparent;
    color: var(--text-dark);
    border: var(--border-size-big) solid var(--border-color-main);
    border-radius: var(--radius-big);
    overflow: hidden;
}

#chatMessageList {
    backgound: transparent;
    scrollbar-color: var(--bg-input-mid) var(--bg-input-light);
    scrollbar-width: thin;
}

/*~~~~~~~~~Chatbox alternating messages~~~~~~~~~*/
.s-chat-message:nth-child(odd) {
    background: var(--bg-panel-mid);
}

.s-chat-message:nth-child(even) {
    background: var(--bg-panel-light);
}

/*~~~~~~~~~Mod messages~~~~~~~~~*/
.s-chat-message.s-chat-message_mod {
    background: var(--mod-bg);
    color: var(--text-mod);
    padding-left: 5px;
}

/*~~~~~~~~~~~~~~~~~
    BugBox Button
~~~~~~~~~~~~~~~~~*/ 
.btn.btn-default.button {
    background: var(--bg-input-dark);
    border: 1px solid var(--border-color-main);
    border-radius: none;
    text-shadow: none;
}

.btn.btn-default.button:hover {
    background: var(--bg-input-light);
    color: var(--accent-color-light);
    border-color: var(--accent-color-light);
}
    
/*~~~~~~~~~~~~~~~~~
    Lioden License and Links
~~~~~~~~~~~~~~~~~*/ 
.col-xs-10, 
.col-xs-10 a {
    color: var(--text-dark);
    text-shadow:none;
}

/*~~~~~~~~~~~~~~~~~
    End Initiate
  ~~~~~~~~~~~~~~~~~*/
