/*Color Pallet Dark>Light
*/

/*<link rel="stylesheet" type="text/css" href="" /> */

/*Main Background*/
body {
    background-color:#007ba1;
    background-image:url("https://i.imgur.com/s2Di3zB.jpeg");
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

/*Top Bar with Messages and Currency*/
.topbar {
    background:none;
}

.topbar a {
    color: white !important;
}

/*Main container behind everything else*/
.container.main {
    background:none;
}

/*NAVBAR*/
.navbar.navbar-default {
    background: none;
}

.navbar.navbar-default a {
    color: white !important;
}

.navbar.navbar-default a:hover {
    background:#007ba1ab !important
}

.navbar-brand.visible-lg.visible-md:hover {
    background:none !important;
}

/*Navbar Collapse Button when Small*/
.navbar button {
    background-color:#007ba1 !important;
    border: 2px solid #ffffffab !important;
}

.navbar button:hover, .navbar button:focus {
    background-color:#053b67 !important;
}

/*Navbar Links when Small and Expanded*/
.navbar-collapse.collapse.in {
    border:none;
    box-shadow:none;
}

/*Smaller Container behind most main stuff*/
#pageContainer {
    background-color:transparent;
}

/*Breadcrumb with Home/Name*/
.breadcrumb {
    background-color: transparent;
}

.breadcrumb a, .breadcrumb-item.active {
    color:white;
}

 /*____'s Den*/
#pageContainer h1 {
    color:white;
    text-align:center;
}

/*All Alerts Text and Links*/
.alert, .alert a {
    color:white;
}

/*Red Alerts Background*/
.alert-danger {
    background-color:#053b67ab;
    border: 2px solid #ffffffab
}

/*Green Alerts Background*/
.alert {
    background-color:#007ba1ab
}

/*Comment Box Existing Comments*/
#commentBox {
    background:none;;
    color:white;
    border: 2px solid #ffffffab !important;
}

.comment:nth-child(odd) {
    background-color:#053b67ab;
}

.comment:nth-child(even) {
    background-color:#007ba1ab !important;
}

#commentBox a, .text-muted {
    color:white;
}

/*Comment Box Scrollbar*/
#commentBox::-webkit-scrollbar {
    background-color:#007ba1ab;
}

#commentBox::-webkit-scrollbar-thumb {
    background-color:#053b67ab;
    border-radius:5px;
}

/*Comment x Button*/
#commentBox .bad {
    background:none;
    background-color:#053b67ab;
    color:white;
    text-shadow:none;
    border: 2px solid #ffffffab
}

/*Make Comment Input Box*/
#makeComment #comment {
    background-color:#053b67ab;
    border: 2px solid #ffffffab;
    border-radius:4px;
    color:white;
}

#makeComment #comment::placeholder {
    color:white !important;
}

/*Make Comment Post Button*/
#postComment {
    background:#053b67ab;
    border: 2px solid #ffffffab;
    color:white;
    text-shadow:none;
}

/*Pride About Area Text*/
#about, #about a {
    color:white;
}

/*Pride About Main Back Area*/
#about {
    background:;
    border: 2px solid #ffffffab;
    border-radius:4px;
}

/*Pride About Inner Areas*/
#about .top, #about .bottom {
    background:#007ba1ab;
}

#about td .left {
    background:#053b67ab;
}

#about td .right {
    background-color:#007ba1ab;
}

/*Player Info Area Text and Links*/
#player, #player a {
color:white;
}

/*Player Info Area*/
#player {
    border: 2px solid #ffffffab;
    border-radius:4px;
}

#player .top {
    background:#007ba1ab;
}

#player td.left {
    background:#053b67ab;
}

#player td .right {
    background-color:#007ba1ab;
}

/*Dens and Mounds*/
.cave-grid {
    background-color:#053b67ab;
    color:white;
}

.mound-grid {
    background-color:#053b67ab;
    color:white;
}


/*Sparring*/
#sparring {
    border: 2px solid #ffffffab;
    border-radius:4px;
    color:white;
}

#sparring th{
    background-color:#007ba1ab;
}

 #sparring .right_odd {
     background:transparent;
 }

/*Sparring Input Areas*/
#sparring select, #sparring input {
    color:white;
    text-shadow:none;
    background:none;
    background-color:#007ba1ab;
    box-shadow:none;
    border: 2px solid #ffffffab;
    border-radius:4px;
}

/*FAPA*/
.row, .row span {
    color:white !important;
}

.row .feature {
    background-color:#007ba1ab;
    border: 2px solid #ffffffab;
}

.row .feature h3, .row .feature input, .row .feature select {
    color: white;
    text-shadow:none;
}

.row .feature input, .row .feature select {
    background:none;
    background-color:#053b67ab;
    border: 2px solid #ffffffab;
}

/*Allies Text and Links*/
#allies, #allies a {
    color:white;
}

/*Allies*/
#allies {
    border: 2px solid #ffffffab;
}

#allies .top, #allies .bottom {
    background-color:#007ba1ab;
}

#allies .left {
    display:none;
}

/*Clans Text and Links*/
#clans, #clans a {
    color:white;
}

/*Clans*/
#clans {
    border: 2px solid #ffffffab;
}

#clans .top {
    background-color:#007ba1ab;
}

#clans .left {
    display:none;
}

/*Dynasties*/
.row.dynastycollection div .left {
    background-color:#007ba1ab;
    border: 2px solid #ffffffab;
}
.row.dynastycollection h3 {
    color:white;
}

/*Logs*/
.col.col-sm-4 .left {
    background-color:#007ba1ab;
    border: 2px solid #ffffffab;
    color:white;
}

/*Edit Details*/
#editdetailspanel {
    border: 2px solid #ffffffab;
}

.table {
    border: 2px solid #ffffffab;
    margin:0px;
}

.table th {
    background-color:#007ba1ab;
}

.table th a {
    color:white !important;
}

/*Expanded Details Panel*/
#editdetailspanel .left {
    background:#053b67ab;
}

#editdetailspanel .right textarea, #editdetailspanel .right input, #editdetailspanel .right select {
    background-color:#007ba1ab;
    border: none;
    color:white;
}

#editdetailspanel .right a {
    color:white;
}

#editdetailspanel .bottom {
    background-color:#007ba1ab;
}

#editdetailspanel .bottom input {
    background:#053b67ab;
    border: 2px solid #ffffffab;
    text-shadow:none;
    color:white;
}

/*Account Settings*/
form .left {
    background-color:#007ba1ab;
}

form .left a {
    color:white;
}

/* */
#pageSidebar, #pageSidebar a, #pageSidebar h3 {
    color:white;
}

.panel-body.small, .panel, .panel.panel-default {
    color:white;
    background-color:#053b67ab;
    box-shadow:none !important;
}

.panel, .panel.panel-default {
    border: 2px solid #ffffffab;
}

.panel p {
    display:none;
}

.clear.visible-xs.visible-sm {
    border:none !important;
}

/*ChatBox*/
#btnToggleSidebarChat {
    background:none;
    background-color:#053b67ab;
    border: 2px solid #ffffffab;
    color:white;
    text-shadow:none;
}

#fra_chatContainer, #fra_chatContainer a, #fra_chatContainer span {
    color:white;
}

#fra_chatContainer #label_currentChannel, #fra_chatContainer input, #fra_chatContainer #btnChatSend {
    background:none;
    background-color:#053b67ab;
    border: 2px solid #ffffffab;
    color:white;
    text-shadow:none;
}

.s-chat-message:nth-child(even), #chatMessagePinned {
    background-color:#053b67ab !important;
}

.s-chat-message:nth-child(odd) {
    background-color:#007ba1ab;
}

.s-chat-message.s-chat-message__mod {
    background:#000000ab !important;
    color:white;
    border:none;
    padding-left:5px;
}

.s-chat-message.s-chat-message__mod span {
    padding-left:5px !important;
}

#chatMessageList::-webkit-scrollbar {
    background-color:#007ba1ab;
}

#chatMessageList::-webkit-scrollbar-thumb {
    background-color:#053b67ab;
    border-radius:5px;
}

/*BugBox Button*/
.btn.btn-default.button {
    background:none;
    background-color:#053b67ab;
    border: 2px solid #ffffffab;
    color:white;
    text-shadow:none;
}
