/*~~~~Oracle~~~~*/
.pagedoll {
  width:200px;
  position:fixed;
  bottom:0;
  left:0;
  z-index:9999;
  pointer-events:none;
}

.progress {
  background:var(--bg-panel-left);
}

.progress-bar {
  background:var(--bg-panel-right);
}

.progress div {
  color:var(--font-color-main);
}

/*Options to pick*/
/*body-wide font*/
.body {
  font:;
}

/*Bio only font*/
.Bio {
  font:;
}

/*Cursor*/
body {
  cursor:;
  cursor:pointer;
}

/*Free upgrade to premium Bio Box*/

/*Hover glow over caves, mounds, allies, clans, dynsaty*/
.cave-grid:hover {
  border-color:var(--accent-glow-heavy);
  box-shadow:0px 0px 10px 2px var(--accent-glow-heavy);
}

.mound-grid:hover {
  box-shadow:0px 0px 10px 1px var(--accent-glow-heavy);
  border-color:var(--accent-glow-heavy);
}

#allies .right:has(.bigger:hover){
  background: radial-gradient(var(--accent-glow-heavy) 0%, var(--accent-glow-light) 30%, var(--bg-panel-left) 70%) !important;
}

#clans .right:has(.bigger:hover) {
  background: radial-gradient(var(--accent-glow-heavy) 0%, var(--accent-glow-light) 30%, var(--bg-panel-left) 70%) !important;
}

.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist:hover div {
  box-shadow:0px 0px 10px 1px var(--accent-glow-heavy);
  border-color:var(--accent-glow-heavy);
}

input:hover,
.btn.btn-default.button:hover,
#btnChatSend:hover,
.navbar-toggle:hover,
.navbar-toggle.collapsed:hover {
  box-shadow:0px 0px 10px 2px var(--accent-glow-heavy) !important;
}

/*Custom alert banner at the top of the page*/
.breadcrumb::after {
  content:"ALERT BANNER";
  width:100%;
  height:40px;
  display:flex;
  justify-self:center;
  justify-content:center;
  align-items:center;
  margin:10px;
  margin-top:35px;
  vertical-align:center;
  background:var(--accent-color-dark);
  border:var(--border-size-big) solid var(--border-color);
  border-radius:var(--border-radius-small);
}
