/*~~~~~~~~~~~~~~~~~
  Oracle
  ~~~~~~~~~~~~~~~~~*/

/*Pagedoll*/
.pagedoll {
    position: fixed;
    right: -10px;
    bottom: -10px;
    width: 200px;
    z-index: 9999;
    pointer-events: none;
}

/*Player Icon*/
#player > tbody > tr.right > td:nth-child(2) {
    content:url(https://i.imgur.com/abduPNs.png);
}

/*Add to Bio Box CSS to make them scrollable
    overflow-x:hidden;
    overflow-y:scroll; */

/*~~~~~~~~~~~~~~~~~
  Pick One of Three
  ~~~~~~~~~~~~~~~~~*/

/*Replace ____'s Den*/
#pageContainer h1 {
    font-size:0px;
}

#pageContainer h1:before {
    content:"Welcome Traveller";
    font-size:50px;
}

/*Progress Bar Changes*/
.panel-body.small  .progress {
    background:var(--bg-header-dark);
}

.panel-body.small  .progress div {
    color:var(--text-light);
}

.progress [role="progressbar"] {
    background:linear-gradient(0deg, #FFFFFF, var(--accent-color-dark), #FFFFFF)
}

body, a, button, select {
    cursor:url('https://i.imgur.com/eqQyMCj.png'), auto;
}

/*~~~~~~~~~~~~~~~~~
  End Oracle
  ~~~~~~~~~~~~~~~~~*/
