/*~~~~Oracle~~~~*/
.pagedoll {
  width:200px;
  position:fixed;
  bottom:0;
  left:0;
  z-index:9999;
}

.progress {
  background:var(--bg-panel-left);
}

.progress-bar {
  background:var(--bg-panel-right);
}

.progress div {
  color:var(--font-color-main);
}

/*Options to pick*/
/*body-wide font*/
.body {
  font:;
}

/*Bio only font*/
.Bio {
  font:;
}

/*Cursor*/
body {
  cursor:;
  cursor:pointer;
}

/*Free upgrade to premium Bio Box*/

/*Hover glow over caves, mounds, allies, clans, dynsaty*/
.cave-grid:hover {
  border-color:var(--accent-glow-heavy);
  box-shadow:0px 0px 10px 2px var(--accent-glow-heavy);
}

.mound-grid:hover {
  box-shadow:0px 0px 10px 2px var(--accent-glow-heavy);
  border-color:var(--accent-glow-heavy);
}

#allies .right:has(.bigger:hover){
  background: radial-gradient(var(--accent-glow-heavy) 0%, var(--accent-glow-light) 30%, var(--bg-panel-left) 70%) !important;
}

#clans .right:has(.bigger:hover) {
  background: radial-gradient(var(--accent-glow-heavy) 0%, var(--accent-glow-light) 30%, var(--bg-panel-left) 70%) !important;
}
