/*~~~~Priestess~~~~*/
/*SB Icon*/
.toplinks li:has(a[href="/spend-history.php?type=sb"]) .icon {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*GB Icon*/
.toplinks li:has(a[href="/spend-history.php?type=gb"]) .icon {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Lioden Logo*/
.navbar-brand.visible-lg.visible-md img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:192px;
  height:120px;
}

/*King Icon Image Replacement*/
.lion-image-block img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true) !important;
  width:200px !important;
  height:200px !important;
}

/*Player Icon Image Replacement*/
#player td.right:nth-child(2) img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true) !important;
  width:150px;
  height:150px;
}
