/*~~~~Priestess~~~~*/
/*SB Icon*/
.toplinks li:has(a[href="/spend-history.php?type=sb"]) .icon {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*GB Icon*/
.toplinks li:has(a[href="/spend-history.php?type=gb"]) .icon {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Lioden Logo*/
.navbar-brand.visible-lg.visible-md img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:192px;
  height:120px;
}

/*King Icon Image Replacement*/
.lion-image-block img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true) !important;
  width:200px !important;
  height:200px !important;
}

/*Circle King Icon*/
.lion-image-block {
  clip-path:circle();
}

/*Player Icon Image Replacement*/
#player td.right:nth-child(2) img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true) !important;
  width:150px;
  height:150px;
}

/*Hide Donator Star*/
img[src="//static.lioden.com/images/layout/donator.png"] {
  display:none;
  width:17px;
  height:17px;
}

/*Hide Active Tracker*/
.member-online {
  display:none;
  background:none;
  width:10px;
  height:10px;
}

/*Both Refer a Friend and Wishlist Images*/
.center.xlarge img {
  display:noe;
  width:24px;
  height:24px;
}

/*Just Refer a Friend Image*/
.center.xlarge img[src="//static.lioden.com/images/layout/icon_den_friend.png"] {
  display:none;
  width:24px;
  height:24px;
}

/*Just Wishlist Image*/
.center.xlarge img[src="//static.lioden.com/images/layout/icon_den_wishlist.png"]{
  display:none;
  width:24px;
  height:24px;
}

/*All Caves Together*/
.cave-grid img {
  visibility:hidden;
}

.cave-grid {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*Top Three Caves*/
#fraOrganizationBlock > .col-md-4.col-xs-6.center:nth-child(-n+3) div{
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*Personal Caves*/
#fraCaveList div div{
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*Personal Caves Individual*/
#fraCaveList div:nth-child(1) div{
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*All Beetle Mounds*/
.mound-grid img {
  visibility:hidden;
}

.mound-grid {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*Individual Beetle Mounds*/
.col-md-3.col-xs-4.center:nth-child(1) img {
  visibility:hidden;
}

.col-md-3.col-xs-4.center:nth-child(1) div {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*All Dynasty*/
.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist img {
  visibility:hidden;
}

.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist div {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*Individual Dynasty*/
.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist:nth-child(1) img {
  visibility:hidden;
}
.col-md-4.col-sm-6.col-xs-6.mb-2.dynastylist:nth-child(1) div {
  background-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/Maia%20of%20Cylenne/Maia-by-Ysera1.png?raw=true);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

/*All Weather*/
.panel-body.small .floatright.right img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Individual Weather*/
.panel-body.small .floatright.right img:nth-child(1) {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Only Daytime Weather Icon*/
img[src="//static.lioden.com/img/layout/icon-time-day.png"]{
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Only Nighttime Weather Icon*/
img[src="//static.lioden.com/img/layout/icon-time-night.png"] {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Only Dry Season Weather Icon*/
img[src="//static.lioden.com/img/layout/icon-season-dry.png"]{
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*Only Wet Season Weather Icon*/
img[src="//static.lioden.com/img/layout/icon-season-wet.png"]{
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:20px;
  height:20px;
}

/*All Event Currency Icons*/
.panel-body.small.center img {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:17px;
  height:17px;
}

/*Individual Event Currency Icons (Use 1, 3, 5)*/
.panel-body.small.center a:nth-child(1) img  {
  content:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Personal%20Use/Images/money.png?raw=true);
  width:17px;
  height:17px;
}
