/*CSS by Eli in Motion #319237 please do not claim as your own or resell*/
/*<link rel="stylesheet" type="text/css" href="https://eli-in-motion.github.io/Lioden-CSS-Layouts/Personal Use/Den CSS/Desert Oasis/Desert-Oasis.css" /> */

/*Credit Section
  Misc Debugging
Shout out to my brother for helping me fight through the confusion as I learn CSS
  
  Background Image
https://www.pexels.com/photo/shadow-of-leaves-on-wall-9963165/
Plato Terentev on Pexels
Published date October 20th, 2021 at 5:56 AM
Free for use under the Pexels Content License
*/

:root {
  --bg-main-image:url(https://github.com/Eli-In-Motion/Lioden-CSS-Layouts/blob/main/Premade/Den%20CSS/Initiate/Shadow%20of%20Leaves/pexels-plato-terentev-3804555-9963165.jpg?raw=true);
  --bg-main-color:#0a0a0a;

  --bg-header-dark:#161616c2;
  --bg-header-light:#2b2a28c2;
  --bg-panel-back:#202020c2;
  --bg-panel-left:#2b2a28c2;
  --bg-panel-right:#393732c2;
  --bg-chat-light:#514e46c2;
  --bg-chat-dark:#2b2a28c2;

  --font-color-main:#d8d3c8;
  --font-color-small:#e0e0e0;

  --border-size-big:3px;
  --border-size-small:2px;
  --border-color:#6a665d;
  --border-radius-big:10px;
  --border-radius-small:5px;

  --accent-color-light:#b5b28f;
  --accent-color-dark:#9a9b7a;
  --transparency-light:.90;
  --transparency-heavy:.80;

  --mod-bg-color:#040e0bbd;
  --mod-font-color:#ece0ff;
  --ping-bg-color:#040e0bbd;
  --ping-font-color:#ece0ff;
}

/*Pagewide*/
body {
  background-color:rgb(var(--bg-main-color));
  background-image:var(--bg-main-image);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
}

.container.main {
  background:var(--bg-header-light);
  color:var(--font-color-main);
  box-shadow: 0px 0px 15px 3px #d8d3c8;
  border-radius:var(--border-radius-big) !important;
}

#pageContainer {
  background:transparent;
  padding-bottom:0px;
  margin-bottom:0px;
}

.topbar {
  background:transparent;
  color:var(--font-color-main);
}

.topbar a {
  color:var(--font-color-main) !important;
}

.topbar a:hover {
  color:var(--accent-color-dark) !important;
}

.navbar {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
  box-shadow: 0px 0px 15px 3px #d8d3c8;
  border-radius:var(--border-radius-big) !important;
}

#bs-example-navbar-collapse-1 {
  border-top:1px solid #d8d3c8 ;
  box-shadow:none;
}


.navbar a {
  color:var(--font-color-main) !important;
  
}

.navbar a:hover {
  background:var(--bg-header-light) !important;
  color:var(--accent-color-dark) !important;
}

.navbar-toggle {
  background: var(--bg-panel-right);
  border:none;
  box-shadow: 0px 0px 5px 1px #d8d3c8;
}

.navbar-toggle span {
  background:#d8d3c8 !important;
}

.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  background:var(--bg-panel-left) !important;
  box-shadow: 0px 0px 5px 1px var(--font-color-small);
}

.navbar-toggle:hover span {
  background:var(--font-color-small);
}

.breadcrumb {
  background:none;
}

.breadcrumb a {
  color:var(--font-color-main);
}

.breadcrumb-item.active,
.breadcrumb-item.active::before {
  color:var(--font-color-main);
}

.breadcrumb::after {
  content:"CSS by Eli in Motion #319237";
  float:right;
}

#pageContainer > div.floatright {
  display:none;
}

#pageContainer h1 {
  color:var(--font-color-main);
  text-shadow: 3px 2px 3px rgb(0 0 0);
  text-align:center;
}

.table {
  box-shadow: 0px 0px 5px 1px #d8d3c8;
  border-radius:var(--border-radius-big);
  border:none;
  overflow:hidden;
  border-collapse:separate;
}

.table th,
.table .top,
.table .bottom {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
}

.table th a,
.table .top a,
.table .bottom a {
  color:var(--font-color-main) !important;
  text-decoration:none !important;
  border:none !important;
}

.table th a:hover,
.table .top a:hover,
.table .bottom a:hover {
  color:var(--accent-color-dark) !important;
}

.left.b.center {
  background:var(--bg-panel-left);
  color:var(--font-color-main);
}

.right.center {
  background:var(--bg-panel-right);
  color:var(--font-color-main);
}

.alert.alert-success {
  background:var(--bg-header-light);
  color:var(--font-color-main);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-small);
}

.alert.alert-success a {
  color:var(--font-color-main);
}

.alert.alert-success a:hover {
  color:var(--accent-color-dark);
}

.alert.alert-danger {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-small);
}

.alert.alert-danger a {
  color:var(--font-color-main);
}

.alert.alert-danger a:hover {
  color:var(--accent-color-dark);
}

#commentBox {
  background:none;
  color:var(--font-color-main);
  border:none !important;
  box-shadow: 0px 0px 10px 3px #d8d3c8;
}

#commentBox a {
  color:var(--font-color-main);
}

#commentBox a:hover {
  color:var(--accent-color-dark);
}

#commentBox::-webkit-scrollbar {
  display:none;
}

.comment:nth-child(even) {
  background: var(--bg-chat-dark) !important;
}

.comment:nth-child(odd) {
  background:var(--bg-chat-light);
}

#commentBox .bad {
  background:var(--bg-header-dark) !important;
  color:var(--border-color) !important;
  text-shadow:none !important;
  border:1px solid var(--border-color) !important;
}

#commentBox .bad:hover {
  background:var(--bg-header-light) !important;
  color:var(--accent-color-dark) !important;
  box-shadow: 0px 0px 2px 1px var(--accent-color-light) !important;
}

input,
select, 
textarea,
.btn.btn-default.button {
  background: var(--bg-header-dark) !important;
  color:var(--font-color-main) !important;
  text-shadow:none !important;
  border:none !important;
  border:1px solid var(--border-color) !important;
}


input:hover,
select:hover, 
textarea:hover,
.btn.btn-default.button:hover {
  background:var(--bg-header-light) !important;
  color:var(--accent-color-dark) !important;
  box-shadow: 0px 0px 5px 1px var(--accent-color-light) !important;
}

#about a {
  color:var(--font-color-main);
}

#about a:hover {
  color:var(--accent-color-dark)
}

#about .left {
  background:var(--bg-panel-left);
}

#about td .right {
  background:var(--bg-panel-right);
}

#player a {
  color:var(--font-color-main);
}

#player a:hover {
  color:var(--accent-color-dark);
}

#player .text-muted {
  color:var(--font-color-main);
}

#player .left {
  background:var(--bg-panel-left);
}

#player td .right {
  background:var(--bg-panel-right);
}

.cave-grid {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-small);
}

.cave-grid:hover {
  color:var(--accent-color-dark);
  box-shadow: 0px 0px 10px 1px var(--accent-color-light) !important;
}

.mound-grid {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-small);
}

.mound-grid:hover {
  color:var(--accent-color-dark);
  box-shadow: 0px 0px 10px 1px var(--accent-color-light) !important;
}

#sparring td:nth-child(1) {
  background:var(--bg-panel-left);
}

#sparring .right_odd {
  background:var(--bg-panel-right);
}

.col-sm-6.col-xs-12 div {
  background:var(--bg-header-light);
  color:var(--font-color-main);
  border:none;
  box-shadow: 0px 0px 8px 2px #d8d3c8;
}

.col-sm-6.col-xs-12 div h3 {
  color:var(--font-color-main);
}

#allies {
  border:none;
  box-shadow: 0px 0px 8px 2px #d8d3c8;
  color:var(--font-color-main);
}

#allies a {
  color:var(--font-color-main);
}

#allies a:hover {
  color:var(--accent-color-dark)
}

#allies .left {
  display:none;
}

#allies tr:nth-child(2),
#allies tr:nth-child(4){
  background:var(--bg-panel-right);
}

#clans a {
  color:var(--font-color-main);
}

#clans a:hover {
  color:var(--accent-color-dark);
}

#clans .left {
  display:none;
}

#clans tr:nth-child(n+2) {
  background:transparent;
}

.row.dynastycollection div div {
  background:var(--bg-header-light);
  border:var(--border-size-small) solid var(--border-color);
}

.row.dynastycollection div div h3 {
  color:var(--font-color-main);
}

.row.dynastycollection div div:hover {
  box-shadow: 0px 0px 5px 1px #d8d3c8;
}

.row.dynastycollection div div:hover h3 {
  color:var(--accent-color-dark)
}

.col.col-sm-4 div {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-small);
}

.col.col-sm-4 div:hover {
  color:var(--accent-color-dark);
  box-shadow: 0px 0px 5px 1px #d8d3c8;
}

#editdetailspanel a {
  color:var(--font-color-main);
}

#editdetailspanel a:hover {
  color:var(--accent-color-dark);
}

#editdetailspanel .left.b {
  background:var(--bg-panel-left);
}

#editdetailspanel .right {
  background:var(--bg-panel-right);
}

.left:has(a[href="/account-settings.php"]) {
  background:var(--bg-header-dark);
  border:var(--border-size-small) solid var(--border-color);
  border-radius:var(--border-radius-small);
}

.left:has(a[href="/account-settings.php"]):hover {
  box-shadow: 0px 0px 5px 1px #d8d3c8;
}

.left:has(a[href="/account-settings.php"]) a {
  color:var(--font-color-main);
}

.left:has(a[href="/account-settings.php"]):hover a {
  color:var(--accent-color-dark);
}

.panel {
  background:var(--bg-header-dark);
  color:var(--font-color-main);
  border:var(--border-size-small) solid var(--border-color) !important;
  box-shadow:none !important;
}

#pageSidebar a,
.col-md-12.col-xs-6 h3,
.col-md-12.col-xs-5 h3 {
  color:var(--font-color-main);
}

#pageSidebar a:hover,
.col-md-12.col-xs-6 h3:hover,
.col-md-12.col-xs-5 h3:hover {
  color:var(--accent-color-dark);
}

.clear.visible-xs.visible-sm {
  display:none !important;
}

.progress div {
  color:var(--font-color-main);
}

.progress {
  background: linear-gradient(0deg,rgba(81, 78, 70, 1) 0%, rgba(43, 42, 40, 1) 30%, rgba(43, 42, 40, 1) 69%, rgba(81, 78, 70, 1) 100%);
}

.progress-bar {
  background: linear-gradient(0deg,rgba(216, 211, 200, 1) 0%, rgba(81, 78, 70, 1) 30%, rgba(81, 78, 70, 1) 69%, rgba(216, 211, 200, 1) 100%);
}

.col-md-12.col-xs-12 h3 {
  color:var(--font-color-main);
}

#fra_chatContainer {
  margin-left:8px;
  margin-right:8px;
}

#chatMessageContainer {
  border:none;
  box-shadow: 0px 0px 6px 1px #d8d3c8;
  margin-top:2px;
  color:var(--font-color-main) !important
}

#chatMessageContainer a {
  color:var(--font-color-main) !important;
}

#chatMessageContainer a:hover {
  color:var(--accent-color-dark) !important;
}

#label_currentChannel {
  background:var(--bg-header-dark) !important;
  color:var(--font-color-main);
  border:none !important;
  box-shadow: 0px 0px 5px 1px var(--border-color);
  margin-top:5px;
}
#label_currentChannel:hover {
  color:var(--accent-color-dark);
  box-shadow: 0px 0px 5px 1px var(--accent-color-dark);
}

#fraChatChannelMenu {
  background:var(--bg-header-dark) !important;
  border:1px solid var(--border-color);
}

.channelSwitcher {
  color:var(--font-color-main) !important;
}

.channelSwitcher.active,
.channelSwitcher:hover {
  background:var(--bg-header-light) !important;
  color:var(--accent-color-dark) !important;;
}

#chatMessagePinned {
  background:var(--bg-header-dark) !important;
  color:var(--font-color-main) !important;
  border:none !important;
}

#chatMessageList::-webkit-scrollbar {
  width:10px;
}

#chatMessageList::-webkit-scrollbar-track {
  background:var(--bg-chat-light);
}


#chatMessageList::-webkit-scrollbar-thumb {
  background:var(--bg-chat-dark);
  box-shadow: 0px 0px 10px 1px #d8d3c8;
  
}

.s-chat-message:nth-child(even) {
  background:var(--bg-chat-dark);
}

.s-chat-message:nth-child(odd) {
  background:var(--bg-chat-light);
}

#txtChatContainer a {
  color:var(--font-color-main);
}

.emoteList.active {
  background:var(--bg-header-dark);
  border:1px solid var(--border-color);
  border-radius:var(--border-radius-small) !important
}

.col-xs-10,
.col-xs-10 a {
  color:var(--font-color-main) !important;
  border:none !important;
}
